<p-card>
    <div class="grid grid-nogutter p-4 gap-4">
        <div class="col-12 sm:col-12 md:col-8 xl:col-8 p-2">
            <app-search></app-search>
        </div>
        <div class="col-12 sm:col-12 md:col-2 xl:col-2 p-2">
            <div class="status-knob-container">
                <p-knob
                    *ngIf="historicoData.total > 0"
                    [(ngModel)]="historicoData.total_filtered"
                    [min]="0"
                    [max]="historicoData.total"
                    [size]="150"
                    [step]="1"
                    [showValue]="true"
                >
                </p-knob>

                <div class="status-info">
                    <i class="pi pi-file" [style.color]="'#007ad9'"></i>
                    <p>
                        Registros Filtrados: {{ historicoData.total_filtered }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</p-card>

<p-tabView *ngIf="!loading">
    <!-- Pestaña Registros Generales -->
    <p-tabPanel header="Registros Generales">
        <div class="p-grid p-nogutter dashboard-container">
            <app-grafic-table
                *ngIf="
                    generalData.components_arr &&
                    generalData.components_arr.length > 0
                "
                [components_arr]="generalData.components_arr"
            ></app-grafic-table>
        </div>
    </p-tabPanel>

    <p-tabPanel header="Información Personal">
        <div class="p-grid p-nogutter dashboard-container">
            <!-- Estadísticas como Cards -->
            <div
                class="grid grid-nogutter"
                style="justify-content: space-around"
            >
                <!-- Promedio de Edad -->
                <div class="col-12 sm:col-2 md:col-2 xl:col-2 p-2">
                    <div class="info-card">
                        <i class="pi pi-chart-line card-icon"></i>
                        <h3>Promedio Edad</h3>
                        <p class="stat-value">
                            {{ personalData.promedioEdad | number : "1.2-2" }}
                        </p>
                    </div>
                </div>

                <!-- Edad Mínima -->
                <div
                    class="col-12 sm:col-2 md:col-2 xl:col-2 p-2"
                    *ngIf="personalData.ageStats"
                >
                    <div class="info-card">
                        <i class="pi pi-angle-double-down card-icon"></i>
                        <h3>Edad Mínima</h3>
                        <p class="stat-value">
                            {{ personalData.ageStats.minEdad }}
                        </p>
                    </div>
                </div>

                <!-- Edad Máxima -->
                <div
                    class="col-12 sm:col-2 md:col-2 xl:col-2 p-2"
                    *ngIf="personalData.ageStats"
                >
                    <div class="info-card">
                        <i class="pi pi-angle-double-up card-icon"></i>
                        <h3>Edad Máxima</h3>
                        <p class="stat-value">
                            {{ personalData.ageStats.maxEdad }}
                        </p>
                    </div>
                </div>
            </div>
            <app-grafic-table
                *ngIf="
                    personalData.components_arr &&
                    personalData.components_arr.length > 0
                "
                [components_arr]="personalData.components_arr"
            ></app-grafic-table>

            <!-- Teléfonos Únicos -->
            <div class="p-col-12 my-2">
                <p-panel header="Teléfonos Únicos">
                    <ul class="phone-list">
                        <li *ngFor="let phone of personalData.telefonosUnicos">
                            {{ phone }}
                        </li>
                    </ul>
                </p-panel>
            </div>
        </div>
    </p-tabPanel>

    <p-tabPanel header="Información Ubicación">
        <div class="p-grid p-nogutter dashboard-container">
            <div
                class="grid grid-nogutter"
                style="justify-content: space-around"
            >
                <!-- Total Personas Registradas -->
                <div class="col-12 sm:col-2 md:col-2 xl:col-2 p-2">
                    <div class="info-card">
                        <i class="pi pi-home card-icon"></i>
                        <h3>Promedio de Posesión</h3>
                        <p class="stat-value">
                            {{
                                ubicacionData.promedioPosesion
                                    | number : "1.2-2"
                            }}
                            Años
                        </p>
                    </div>
                </div>
                <!-- Promedio de Edad -->
                <div class="col-12 sm:col-2 md:col-2 xl:col-2 p-2">
                    <div class="info-card">
                        <i class="pi pi-users card-icon"></i>
                        <h3>Promedio por Lote</h3>
                        <p class="stat-value">
                            {{
                                ubicacionData.promedioFamiliasPorLote
                                    | number : "1.2-2"
                            }}
                            Familias
                        </p>
                    </div>
                </div>

                <!-- Edad Mínima -->
                <div class="col-12 sm:col-2 md:col-2 xl:col-2 p-2">
                    <div class="info-card">
                        <i class="pi pi-user card-icon"></i>
                        <h3>Promedio por Lote</h3>
                        <p class="stat-value">
                            {{
                                ubicacionData.promedioPersonasPorLote
                                    | number : "1.2-2"
                            }}
                            Personas
                        </p>
                    </div>
                </div>
            </div>

            <app-grafic-table
                *ngIf="
                    ubicacionData.components_arr &&
                    ubicacionData.components_arr.length > 0
                "
                [components_arr]="ubicacionData.components_arr"
            ></app-grafic-table>
        </div>
    </p-tabPanel>

    <p-tabPanel header="Información Salud">
        <div class="p-grid p-nogutter dashboard-container">
            <div
                class="grid grid-nogutter"
                style="justify-content: space-around"
            >
                <div class="col-12 sm:col-2 md:col-2 xl:col-2 p-2">
                    <div class="status-knob-container">
                        <p-knob
                            [(ngModel)]="knobValue"
                            [min]="0"
                            [max]="100"
                            [step]="1"
                            [readonly]="true"
                            [valueColor]="knobColor"
                            [textColor]="'#000'"
                            [showValue]="true"
                            [size]="150"
                            valueTemplate="{{ knobValue }}%"
                        ></p-knob>
                        <div class="status-info">
                            <i
                                [class]="'pi ' + icon"
                                [style.color]="knobColor"
                            ></i>
                            <p>{{ majorState }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <app-grafic-table
                *ngIf="
                    saludData.components_arr &&
                    saludData.components_arr.length > 0
                "
                [components_arr]="saludData.components_arr"
            ></app-grafic-table>
        </div>
    </p-tabPanel>

    <p-tabPanel header="Información Vivienda">
        <div class="p-grid p-nogutter dashboard-container">
            <div
                class="grid grid-nogutter"
                style="justify-content: space-around"
            >
                <div class="col-12 sm:col-2 md:col-2 xl:col-2 p-2">
                    <div class="status-knob-container">
                        <p-knob
                            [(ngModel)]="knobValue"
                            [min]="0"
                            [max]="100"
                            [step]="1"
                            [readonly]="true"
                            [valueColor]="knobColor"
                            [textColor]="'#000'"
                            [showValue]="true"
                            [size]="150"
                            valueTemplate="{{ knobValue }}%"
                        ></p-knob>
                        <div class="status-info">
                            <i
                                [class]="'pi ' + icon"
                                [style.color]="knobColor"
                            ></i>
                            <p>{{ majorState }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <app-grafic-table
                *ngIf="
                    viviendaData.components_arr &&
                    viviendaData.components_arr.length > 0
                "
                [components_arr]="viviendaData.components_arr"
            ></app-grafic-table>
        </div>
    </p-tabPanel>

    <p-tabPanel header="Información Redes de Apoyo">
        <div class="p-grid p-nogutter dashboard-container">
            <div
                class="grid grid-nogutter"
                style="justify-content: space-around"
            >
                <div class="col-12 sm:col-2 md:col-2 xl:col-2 p-2">
                    <div class="status-knob-container">
                        <p-knob
                            [(ngModel)]="knobValue"
                            [min]="0"
                            [max]="100"
                            [step]="1"
                            [readonly]="true"
                            [valueColor]="knobColor"
                            [textColor]="'#000'"
                            [showValue]="true"
                            [size]="150"
                            valueTemplate="{{ knobValue }}%"
                        ></p-knob>
                        <div class="status-info">
                            <i
                                [class]="'pi ' + icon"
                                [style.color]="knobColor"
                            ></i>
                            <p>{{ majorState }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <app-grafic-table
                *ngIf="
                    redesDeApoyoData.components_arr &&
                    redesDeApoyoData.components_arr.length > 0
                "
                [components_arr]="redesDeApoyoData.components_arr"
            ></app-grafic-table>
        </div>
    </p-tabPanel>
</p-tabView>
