<div class="card" *ngIf="isMobil()">
    <div class="card-header">
        <h3>Asignación de Recolectores</h3>
    </div>
    <div class="p-fluid">
        <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
            <div class="p-field p-5">
                <label for="role">Seleccionar Funcionario o Externo</label>
                <p-checkbox
                    name="role"
                    binary="true"
                    label="Externo"
                    [(ngModel)]="isExterno"
                    formControlName="isExterno"
                ></p-checkbox>
            </div>

            <div *ngIf="!isExterno" class="p-field p-5">
                <label for="funcionario">Funcionario</label>
                <p-dropdown
                    appendTo="body"
                    id="funcionario"
                    [options]="funcionarios"
                    formControlName="funcionario"
                    optionLabel="fullName"
                    placeholder="Seleccione un funcionario"
                ></p-dropdown>
            </div>

            <div *ngIf="isExterno" class="p-field p-5">
                <ng-container *ngIf="externos.length > 0; else noExternos">
                    <label for="externo">Externo</label>
                    <p-dropdown
                        id="externo"
                        [options]="externos"
                        formControlName="externo"
                        optionLabel="name"
                        placeholder="Seleccione un externo"
                    ></p-dropdown>
                    <button
                        pButton
                        type="button"
                        label="Añadir Externo"
                        (click)="showExternoForm = true"
                    ></button>
                </ng-container>
                <ng-template #noExternos formGroupName="externo_register">
                    <label for="externo" class="p-d-flex p-ai-center">
                        <i class="pi pi-user-edit p-mr-2"></i> Registrar Externo
                    </label>
                    <input
                        id="name"
                        type="text"
                        pInputText
                        formControlName="name"
                        placeholder="Nombre del Externo"
                        class="p-inputtext-lg p-mb-3 my-5"
                    />
                    <p-inputGroup class="p-inputtext-lg p-mb-3 my-5">
                        <button
                            type="button"
                            pButton
                            label="Consultar"
                            (click)="getCiudadano()"
                        ></button>
                        <input
                            id="dni"
                            type="text"
                            pInputText
                            formControlName="dni"
                            placeholder="DNI del Externo"
                        />
                    </p-inputGroup>

                    <input
                        id="phone"
                        type="text"
                        pInputText
                        formControlName="phone"
                        placeholder="Teléfono del Externo"
                        class="p-inputtext-lg p-mb-3 my-5"
                    />
                    <input
                        id="email"
                        type="email"
                        pInputText
                        formControlName="email"
                        placeholder="Email del Externo"
                        style="margin-top: 2rem; margin-bottom: 2rem"
                    />
                    <input
                        id="address"
                        type="text"
                        pInputText
                        formControlName="address"
                        placeholder="Dirección del Externo"
                        class="p-inputtext-lg my-5"
                    />
                </ng-template>
            </div>

            <div class="p-field p-5">
                <label for="deviceId">Recolectores</label>
                <p-dropdown
                    appendTo="body"
                    id="deviceId"
                    [options]="devices"
                    formControlName="deviceId"
                    optionLabel="name"
                    placeholder="Seleccione un dispositivo"
                ></p-dropdown>
            </div>

            <div class="p-field">
                <button pButton type="submit" label="Registrar"></button>
            </div>
        </form>
    </div>
</div>

<div class="p-fluid" *ngIf="!isMobil()">
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()" class="p-fluid">
        <div *ngIf="!isExterno" class="p-field p-5">
            <label for="funcionario" class="p-d-flex p-ai-center">
                <i class="pi pi-user p-mr-2"></i> Funcionario
            </label>
            <p-dropdown
                id="funcionario"
                [options]="funcionarios"
                formControlName="funcionario"
                optionLabel="fullName"
                placeholder="Seleccione un funcionario"
                class="p-inputtext-lg p-d-block"
                [style]="{ width: '100%' }"
            ></p-dropdown>
        </div>
        <div class="p-field p-5">
            <label for="role" class="p-d-flex p-ai-center">
                <i class="pi pi-users p-mr-2"></i> No está en lista? puedes
                ingresarlo como un chofer externo: <br />
                <br />
            </label>
            <p-checkbox
                appendTo="body"
                name="role"
                binary="true"
                label="Externo"
                [(ngModel)]="isExterno"
                (onChange)="showExternoForm = false"
                formControlName="isExterno"
                class="p-d-block"
            ></p-checkbox>
        </div>

        <div *ngIf="isExterno" class="p-field p-5">
            <ng-container
                *ngIf="externos.length > 0 && !showExternoForm; else noExternos"
            >
                <label for="externo" class="p-d-flex p-ai-center">
                    <i class="pi pi-user-plus p-mr-2"></i> Externo
                </label>
                <p-dropdown
                    id="externo"
                    [options]="externos"
                    formControlName="externo"
                    optionLabel="name"
                    placeholder="Seleccione un externo"
                    class="p-inputtext-lg p-d-block"
                    [style]="{ width: '100%' }"
                >
                    <ng-template let-externo pTemplate="item">
                        <div class="flex align-items-center gap-2">
                            <div>
                                {{ externo.name }} ({{ externo.dni }})
                                <!--
                                 <p-button
                                    (click)="ondeleteExterno(externo._id)"
                                    label="Eliminar"
                                ></p-button>
                                -->
                            </div>
                        </div>
                    </ng-template>
                </p-dropdown>
                <button
                    pButton
                    type="button"
                    label="Añadir Externo"
                    icon="pi pi-plus"
                    class="p-button-secondary p-mt-2"
                    (click)="showExternoForm = true"
                ></button>
            </ng-container>
            <ng-template #noExternos formGroupName="externo_register">
                <label for="externo" class="p-d-flex p-ai-center">
                    <i class="pi pi-user-edit p-mr-2"></i> Registrar Externo
                </label>
                <input
                    id="name"
                    type="text"
                    pInputText
                    formControlName="name"
                    placeholder="Nombre del Externo"
                    class="p-inputtext-lg p-mb-3 my-5"
                />
                <p-inputGroup class="p-inputtext-lg p-mb-3 my-5">
                    <button
                        type="button"
                        pButton
                        label="Consultar"
                        (click)="getCiudadano()"
                    ></button>
                    <input
                        id="dni"
                        type="text"
                        pInputText
                        formControlName="dni"
                        placeholder="DNI del Externo"
                    />
                </p-inputGroup>

                <input
                    id="phone"
                    type="text"
                    pInputText
                    formControlName="phone"
                    placeholder="Teléfono del Externo"
                    class="p-inputtext-lg p-mb-3 my-5"
                />
                <input
                    id="email"
                    type="email"
                    pInputText
                    formControlName="email"
                    placeholder="Email del Externo"
                    style="margin-top: 2rem; margin-bottom: 2rem"
                />
                <input
                    id="address"
                    type="text"
                    pInputText
                    formControlName="address"
                    placeholder="Dirección del Externo"
                    class="p-inputtext-lg my-5"
                />
            </ng-template>
        </div>

        <div class="p-field p-5">
            <label for="deviceId" class="p-d-flex p-ai-center">
                <i class="pi pi-tablet p-mr-2"></i> Recolectores
            </label>
            <p-dropdown
                appendTo="body"
                id="deviceId"
                [options]="devices"
                formControlName="deviceId"
                optionLabel="name"
                placeholder="Seleccione un dispositivo"
                class="p-inputtext-lg p-d-block"
                [style]="{ width: '100%' }"
            ></p-dropdown>
        </div>

        <div class="p-field p-d-flex p-jc-end">
            <button
                pButton
                type="submit"
                label="Registrar"
                icon="pi pi-check"
                class="p-button-primary"
            ></button>
        </div>
    </form>
</div>
