<p-card header="Lista de Asignaciones de Recolectores a Funcionarios">
    <div style="display: flex; justify-content: flex-end">
        <p-button
            *ngIf="check_create"
            icon="pi pi-plus-circle"
            label="Añadir"
            (onClick)="llamar_asignacion_Form()"
        ></p-button>
    </div>

    <p-table
        [value]="arr_asignacion"
        styleClass="p-datatable-striped"
        [rows]="10"
        [rowsPerPageOptions]="[5, 10, 20]"
        [showCurrentPageReport]="true"
        [loading]="load_list"
        sortMode="multiple"
        [paginator]="true"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
    >
        <ng-template pTemplate="header">
            <tr>
                <th>#</th>
                <th>Fecha de Registro</th>
                <th>Recolector</th>
                <th>Funcionario</th>
                <th *ngIf="!isMobil()">Horas Registradas</th>
                <th *ngIf="!isMobil()">Puntos de Recolección</th>
                <th *ngIf="!isMobil()">Acciones</th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-product let-rowIndex="rowIndex">
            <tr (click)="viewregister = product; visible = true">
                <!-- Mostrar el número de fila en orden descendente -->
                <td>
                    {{ arr_asignacion.length - rowIndex }}
                    <i
                        *ngIf="isMobil() && getBadgeValue(product) > 0"
                        class="pi pi-bell text-3xl"
                        pBadge
                        [value]="
                            getBadgeValue(product)
                                ? getBadgeValue(product).toString()
                                : product.capacidad_retorno.length
                        "
                        [severity]="
                            getBadgeValue(product) && getBadgeValue(product) > 0
                                ? 'danger'
                                : 'success'
                        "
                    ></i>
                </td>

                <!-- Mostrar la fecha -->
                <td>{{ product.dateOnly | date : "shortDate" }}</td>

                <!-- Mostrar el recolector -->
                <td>{{ getDeviceGPS(product.deviceId) }}</td>

                <!-- Mostrar el nombre completo del funcionario -->
                <td>
                    {{ product.funcionario?.name }}
                    {{ product.funcionario?.last_name }}
                </td>
                <td *ngIf="!isMobil()">
                    <ng-container *ngIf="product.ruta.length > 1">{{
                        calculateTimeDifference(
                            product.ruta[0].fixTime,
                            product.ruta[product.ruta.length - 1].fixTime
                        )
                    }}</ng-container>
                    <ng-container *ngIf="product.ruta.length <= 1"
                        >Sin Registro</ng-container
                    >
                </td>
                <td *ngIf="!isMobil()">
                    <ng-container *ngIf="product.puntos_recoleccion.length > 0">{{
                        product.puntos_recoleccion.length
                    }}</ng-container>
                    <ng-container *ngIf="product.puntos_recoleccion.length == 0"
                        >Sin Registro</ng-container
                    >
                </td>

                <!-- Columna de acciones con botones -->
                <td *ngIf="!isMobil()">
                    <div class="action-buttons">
                        <p-button
                            class="mx-2"
                            (onClick)="op.toggle($event); showoverlay(product)"
                            icon="pi pi-receipt"
                            label="Capacidad"
                            [badge]="
                                getBadgeValue(product)
                                    ? getBadgeValue(product).toString()
                                    : product.capacidad_retorno.length
                            "
                            [severity]="
                                getBadgeValue(product) &&
                                getBadgeValue(product) > 0
                                    ? 'danger'
                                    : 'success'
                            "
                        ></p-button>

                        <p-button
                            class="mx-2"
                            icon="pi pi-map"
                            label="Ver"
                            (onClick)="verRuta(product)"
                        ></p-button>

                        <p-button
                            class="mx-2"
                            icon="pi pi-eraser"
                            severity="warning"
                            label="Eliminar"
                            (onClick)="confirm($event, product)"
                        ></p-button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-card>
<p-dialog
    *ngIf="isMobil() && viewregister"
    [header]="
        'Acciones sobre:' +
        viewregister.dateOnly +
        '/' +
        getDeviceGPS(viewregister.deviceId) +
        '/' +
        viewregister.funcionario?.name +
        ' ' +
        viewregister.funcionario?.last_name
    "
    [modal]="true"
    [(visible)]="visible"
    [style]="{ width: '25rem' }"
    dismissableMask="true"
>
    <span class="p-text-secondary block mb-5"
        >Selecciona que deseas hacer:
    </span>
    <span class="p-text-secondary block mb-5"
        >Horas de Registros:
        <ng-container *ngIf="viewregister.ruta.length > 1">{{
            calculateTimeDifference(
                viewregister.ruta[0].fixTime,
                viewregister.ruta[viewregister.ruta.length - 1].fixTime
            )
        }}</ng-container>
        <ng-container *ngIf="viewregister.ruta.length <= 1"
            >Sin Registro</ng-container
        >
    </span>
    <span class="p-text-secondary block mb-5"
        >Número de Puntos de Recolección:
        <ng-container *ngIf="viewregister.puntos_recoleccion.length > 0">{{
            viewregister.puntos_recoleccion.length
        }}</ng-container>
        <ng-container *ngIf="viewregister.puntos_recoleccion.length == 0"
            >Sin Registro</ng-container
        >
    </span>
    <div
        class="flex align-items-center gap-3 mb-3"
        style="justify-content: center"
    >
        <p-button
            class="mx-2"
            styleClass="p-button-lg"
            size="large"
            (onClick)="op.toggle($event); showoverlay(viewregister)"
            icon="pi pi-receipt"
            label="Capacidad"
            [badge]="
                getBadgeValue(viewregister)
                    ? getBadgeValue(viewregister).toString()
                    : viewregister.capacidad_retorno.length
            "
            [severity]="
                getBadgeValue(viewregister) && getBadgeValue(viewregister) > 0
                    ? 'danger'
                    : 'success'
            "
        ></p-button>
    </div>

    <div
        class="flex align-items-center gap-3 mb-3"
        style="justify-content: center"
    >
        <p-button
            class="mx-2"
            styleClass="p-button-lg"
            size="large"
            icon="pi pi-map"
            label="Ver"
            (onClick)="verRuta(viewregister)"
        ></p-button>
    </div>

    <div
        class="flex align-items-center gap-3 mb-3"
        style="justify-content: center"
    >
        <p-button
            class="mx-2"
            styleClass="p-button-lg"
            size="large"
            icon="pi pi-eraser"
            label="Eliminar"
            severity="warning"
            (onClick)="confirm($event, viewregister)"
        ></p-button>
    </div>

    <div class="flex justify-content-end gap-2">
        <p-button
            label="Cerrar"
            severity="secondary"
            (onClick)="visible = false"
        />
    </div>
</p-dialog>

<p-toast />
<p-confirmPopup>
    <ng-template pTemplate="content" let-message>
        <div
            class="flex flex-column align-items-center w-full gap-3 border-bottom-1 surface-border p-3 mb-3"
        >
            <i [class]="message.icon" class="text-6xl text-primary-500"></i>
            <p>{{ message.message }}</p>
        </div>
    </ng-template>
</p-confirmPopup>

<p-overlayPanel #op>
    <div class="flex flex-column gap-3 w-25rem" *ngIf="register">
        <div>
            <span class="font-medium text-900 block mb-2"
                >Puntos de Retorno</span
            >
            <div class="flex">
                <p-table
                    [value]="register.puntos_recoleccion"
                    selectionMode="single"
                    [paginator]="true"
                    [rows]="5"
                    responsiveLayout="scroll"
                >
                    <ng-template pTemplate="header">
                        <tr>
                            <th>N°</th>
                            <th pSortableColumn="timestamp">
                                Retorno <p-sortIcon field="timestamp" />
                            </th>
                            <th pSortableColumn="capacidad">
                                Capacidad <p-sortIcon field="capacidad" />
                            </th>
                        </tr>
                    </ng-template>

                    <ng-template
                        pTemplate="body"
                        let-product
                        let-index="rowIndex"
                    >
                        <tr>
                            <td>{{ index + 1 }}</td>
                            <td>{{ product.timestamp | date : "medium" }}</td>
                            <td>
                                <p-dropdown
                                    appendTo="body"
                                    [options]="capacidadOpciones"
                                    [(ngModel)]="
                                        register.capacidad_retorno[index]
                                    "
                                    (onChange)="updateCapacidad(register)"
                                    placeholder="Selecciona capacidad"
                                    optionLabel="label"
                                    dataKey="value"
                                ></p-dropdown>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</p-overlayPanel>
