<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-auto">
                <h2>Listado de Permisos</h2>
            </div>
            <div class="col-6">
                <a (click)="newpermiso()" class="btn btn-primary float-end"
                    >Nuevo Permiso</a
                >
            </div>
        </div>
    </div>
    <div class="card-body">
        <p-toast></p-toast>
        <div class="table-responsive-sm">
            <p-table
                [paginatorDropdownAppendTo]="'body'"
                styleClass="p-datatable-striped"
                class="table table-sm align-middle table-striped table-hover"
                [value]="permisos"
                dataKey="_id"
                editMode="row"
                [tableStyle]="{ 'min-width': '50rem' }"
                [scrollable]="true"
                [responsive]="true"
                [rows]="10"
                [showCurrentPageReport]="true"
                [rowsPerPageOptions]="[10, 25, 50]"
                [paginator]="true"
                currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
            >
                <ng-template pTemplate="header">
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Método</th>
                        <th scope="col">Usuarios</th>
                        <th scope="col"></th>
                    </tr>
                </ng-template>
                <ng-template
                    pTemplate="body"
                    let-permiso
                    let-editing="editing"
                    let-ri="rowIndex"
                >
                    <tr [pEditableRow]="permiso">
                        <td>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input
                                        pInputText
                                        [(ngModel)]="permiso.name"
                                    />
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{ permiso.name }}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input
                                        pInputText
                                        [(ngModel)]="permiso.method"
                                    />
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{ permiso.method }}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td>
                            <!--
                            (onChange)="onRowEditSave(permiso) optionValue="_id""
                            -->
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <p-multiSelect
                                        [options]="users"
                                        [showToggleAll]="true"
                                        [selectAll]="selectAll"
                                        [(ngModel)]="permiso.user"
                                        optionLabel="name"
                                        [virtualScroll]="true"
                                        [virtualScrollItemSize]="43"
                                        class="multiselect-custom-virtual-scroll w-100"
                                        placeholder="Selecciona los usuarios para este permiso"
                                        (onSelectAllChange)="onSelectAllChange($event, ri)"
                                        (ngModelChange)="onModelChange($event,ri)"
                                        #ms
                                    >
                                        <ng-template let-value pTemplate="selectedItems">
                                            <div class="inline-flex align-items-center gap-2 px-1" *ngIf="value">
                                                <div *ngFor="let user of value.slice(0, 3)">
                                                    {{ user.name }},
                                                </div>
                                                <span *ngIf="value.length > 3">
                                                    <a>+{{ value.length - 3 }} más</a>
                                                </span>
                                            </div>
                                            <div *ngIf="!value || value.length === 0">
                                                No se ha seleccionado ningún usuario
                                            </div>
                                        </ng-template>

                                        <ng-template pTemplate="headercheckboxicon" let-allSelected let-partialSelected="partialSelected">
                                            <i class="pi pi-check" *ngIf="allSelected"></i>
                                            <i class="pi pi-minus" *ngIf="partialSelected" [ngStyle]="{ color: 'var(--text-color)' }"></i>
                                        </ng-template>

                                        <ng-template let-user pTemplate="item">
                                            <div class="flex align-items-center gap-2">
                                                <div>
                                                    {{ user.name }} {{ user.last_name }}
                                                </div>
                                            </div>
                                        </ng-template>
                                    </p-multiSelect>


                                </ng-template>
                                <ng-template pTemplate="output">
                                    <ng-container
                                        *ngIf="
                                            permiso.user &&
                                            permiso.user.length > 0
                                        "
                                    >
                                        <div
                                            *ngFor="
                                                let user of permiso.user.slice(
                                                    0,
                                                    3
                                                )
                                            "
                                        >
                                            {{ user.name }}
                                            {{ user.last_name }},
                                        </div>
                                        <span *ngIf="permiso.user.length > 3">
                                            <a
                                                (click)="
                                                    showAllUsersDialog(permiso)
                                                "
                                                >+{{
                                                    permiso.user.length - 3
                                                }}
                                                más</a
                                            >
                                        </span>
                                    </ng-container>
                                    <div
                                        *ngIf="
                                            !permiso.user ||
                                            permiso.user.length === 0
                                        "
                                    >
                                        Ningún usuario seleccionado
                                    </div>

                                    <p-dialog
                                        [header]="
                                            'Usuarios Seleccionados - ' +
                                            permiso.name
                                        "
                                        [(visible)]="
                                            displayUserDialog[permiso._id]
                                        "
                                        [style]="{ width: '50vw' }"
                                    >
                                        <p-table
                                            #dt
                                            [value]="permiso.user"
                                            [paginator]="true"
                                            [rows]="10"
                                            [rowsPerPageOptions]="[5, 10, 20]"
                                            [paginatorDropdownAppendTo]="'body'"
                                            dataKey="_id"
                                            [globalFilterFields]="[
                                                'name',
                                                'last_name'
                                            ]"
                                        >
                                            <ng-template pTemplate="caption">
                                                <div class="flex">
                                                    <p-iconField
                                                        iconPosition="left"
                                                        class="ml-auto"
                                                    >
                                                        <p-inputIcon>
                                                            <i
                                                                class="pi pi-search"
                                                            ></i>
                                                        </p-inputIcon>
                                                        <input
                                                            pInputText
                                                            type="text"
                                                            (input)="
                                                                dt.filterGlobal(
                                                                    $any(
                                                                        $event.target
                                                                    ).value,
                                                                    'contains'
                                                                )
                                                            "
                                                            placeholder="Buscar palabra clave"
                                                        />
                                                    </p-iconField>
                                                </div>
                                            </ng-template>

                                            <ng-template pTemplate="header">
                                                <tr>
                                                    <th style="width: 22%">
                                                        Nombres
                                                    </th>
                                                    <th style="width: 22%">
                                                        Apellidos
                                                    </th>
                                                </tr>
                                            </ng-template>
                                            <ng-template
                                                pTemplate="body"
                                                let-user
                                            >
                                                <tr>
                                                    <td>
                                                        {{ user.name }}
                                                    </td>
                                                    <td>
                                                        {{ user.last_name }}
                                                    </td>
                                                </tr>
                                            </ng-template>
                                            <ng-template
                                                pTemplate="emptymessage"
                                            >
                                                <tr>
                                                    <td colspan="2">
                                                        No customers found.
                                                    </td>
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                    </p-dialog>
                                </ng-template>
                            </p-cellEditor>
                        </td>

                        <td>
                            <div
                                class="btn-group"
                                role="group"
                                aria-label="Acciones"
                            >
                                <div
                                    class="flex align-items-center justify-content-center gap-2"
                                >
                                    <button
                                        *ngIf="!editing"
                                        pButton
                                        pRipple
                                        type="button"
                                        pInitEditableRow
                                        icon="bi bi-pencil"
                                        (click)="onRowEditInit(permiso)"
                                        class="p-button-rounded p-button-text mr-2 btn btn-primary"
                                    ></button>
                                    <button
                                        *ngIf="editing"
                                        pButton
                                        pRipple
                                        type="button"
                                        pSaveEditableRow
                                        icon="bi bi-floppy"
                                        (click)="onRowEditSave(permiso)"
                                        class="p-button-rounded p-button-text p-button-success mr-2 btn btn-success"
                                    ></button>
                                    <button
                                        *ngIf="editing"
                                        pButton
                                        pRipple
                                        type="button"
                                        pCancelEditableRow
                                        icon="bi bi-trash"
                                        (click)="onRowEditCancel(permiso, ri)"
                                        class="p-button-rounded p-button-text p-button-danger btn btn-danger"
                                    ></button>
                                </div>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
