<div class="content-wrapper">
    <div class="map-wrapper">
        <div class="map-container">
            <div
                *ngIf="actividad.length > 0 && !isStreetViewActive"
                class="chip-container"
            >
                <span
                    *ngFor="let act of actividad"
                    class="chip"
                    [class.active]="selectedActivities.has(act._id)"
                    (click)="toggleActivity(act)"
                >
                    <input
                        type="checkbox"
                        [checked]="selectedActivities.has(act._id)"
                        class="chip-checkbox"
                    />
                    <img
                        [src]="act.icon"
                        alt="{{ act.label }}"
                        class="chip-icon"
                    />
                    {{ act.label }}
                </span>
            </div>
            <div id="map"></div>
        </div>
    </div>
</div>

<p-dialog
    [(visible)]="displayFichaDialog"
    [modal]="true"
    [dismissableMask]="true"
    [position]="isMobil() ? 'bottom' : 'center'"
    [style]="getDialogStyle()"
    [contentStyle]="getContentStyle()"
    [showHeader]="true"
    [closable]="true"
    [closeOnEscape]="true"
    [baseZIndex]="10000"
    styleClass="ficha-dialog"
    [draggable]="false"
    [resizable]="false"
>
    <ng-template pTemplate="header">
        <div class="flex justify-content-between align-items-center w-full">
            <div class="flex align-items-center">
                <i class="pi pi-folder text-xl sm:text-2xl mr-2"></i>
                <h4
                    class="m-0 font-medium text-overflow-ellipsis overflow-hidden white-space-nowrap"
                    style="max-width: 80vw"
                >
                    {{ selectedFichaId.title_marcador }}
                </h4>
            </div>
        </div>
    </ng-template>

    <div class="dialog-content">
        <app-item
            [fichaId]="selectedFichaId._id"
            *ngIf="displayFichaDialog && selectedFichaId && selectedFichaId._id"
            (onClose)="displayFichaDialog = false"
        ></app-item>
    </div>
</p-dialog>
