<p *ngIf="cargando">Cargando datos...</p>

<div *ngIf="!cargando">
    <div class="card">
        <h2>Estadísticas Generales</h2>

        <p-table
            #dt1
            [value]="datosRecolectores"
            dataKey="_id"
            styleClass="p-datatable-striped"
            [rows]="10"
            [rowsPerPageOptions]="[5, 10, 20]"
            [showCurrentPageReport]="true"
            [loading]="datosRecolectores.length < 0"
            sortMode="multiple"
            [paginator]="true"
            currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
            [globalFilterFields]="[
                'date',
                'deviceId',
                'ruta.length',
                'puntos_recoleccion.length',
                'velocidad_maxima'
            ]"
            onchange="onSort($event, dt1)"
            (filter)="generarEstadisticas(dt1)"
            (sort)="onSort($event, dt1)"
        >
            <ng-template pTemplate="caption">
                <div class="flex">
                    <p-button
                        label="Clear"
                        [outlined]="true"
                        icon="pi pi-filter-slash"
                        (onClick)="clear(dt1)"
                    />
                    <button
                        pButton
                        pRipple
                        icon="pi pi-search"
                        label="Generar Gráficos"
                        (click)="generarEstadisticas(dt1)"
                        class="p-input-icon-left ml-auto"
                    ></button>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th
                        style="width: 22%"
                        style="text-align: center"
                        pSortableColumn="date"
                    >
                        Fecha <p-sortIcon field="date" />
                    </th>
                    <th
                        style="width: 22%"
                        style="text-align: center"
                        pSortableColumn="deviceId"
                    >
                        Recolector
                    </th>
                    <th
                        style="width: 22%"
                        style="text-align: center"
                        pSortableColumn="fullname"
                    >
                        Funcionario
                    </th>
                    <th
                        style="width: 22%"
                        style="text-align: center"
                        pSortableColumn="externo"
                    >
                        Externo
                    </th>
                    <th
                        style="width: 22%"
                        style="text-align: center"
                        pSortableColumn="ruta.length"
                    >
                        Ruta
                    </th>
                    <th
                        style="width: 22%"
                        style="text-align: center"
                        pSortableColumn="puntos_recoleccion.length"
                    >
                        Puntos de Recolección
                    </th>
                    <th
                        style="width: 12%"
                        style="text-align: center"
                        pSortableColumn="velocidad_maxima"
                    >
                        Velocidad Máxima
                    </th>
                </tr>
                <tr>
                    <th style="text-align: center">
                        <p-columnFilter
                            matchMode="in"
                            type="date"
                            field="date"
                            display="menu"
                        />
                    </th>
                    <th style="text-align: center">
                        <p-columnFilter
                            field="deviceId"
                            matchMode="in"
                            [showMenu]="false"
                        >
                            <ng-template
                                pTemplate="filter"
                                let-value
                                let-filter="filterCallback"
                            >
                                <p-multiSelect
                                    [ngModel]="value"
                                    [options]="recolectoresId"
                                    placeholder="Todos"
                                    (onChange)="filter($event.value)"
                                    optionLabel=""
                                >
                                    <ng-template let-option pTemplate="item">
                                        <div
                                            class="inline-block vertical-align-middle"
                                        >
                                            <span class="ml-1 mt-1">
                                                {{ option }}
                                            </span>
                                        </div>
                                    </ng-template>
                                </p-multiSelect>
                            </ng-template>
                        </p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter
                            field="fullname"
                            matchMode="in"
                            [showMenu]="false"
                        >
                            <ng-template
                                pTemplate="filter"
                                let-value
                                let-filter="filterCallback"
                            >
                                <p-multiSelect
                                    [ngModel]="value"
                                    [options]="representatives"
                                    placeholder="Todos"
                                    (onChange)="filter($event.value)"
                                    optionLabel=""
                                >
                                    <ng-template let-option pTemplate="item">
                                        <div
                                            class="inline-block vertical-align-middle"
                                        >
                                            <span class="ml-1 mt-1">
                                                {{ option }}
                                            </span>
                                        </div>
                                    </ng-template>
                                </p-multiSelect>
                            </ng-template>
                        </p-columnFilter>
                    </th>
                    <th style="text-align: center">
                        <p-columnFilter type="boolean" field="externo" />
                    </th>
                    <th
                        style="text-align: center"
                        pSortableColumn="ruta.length"
                    >
                        Ruta <p-sortIcon field="ruta.length" />
                    </th>
                    <th
                        style="text-align: center"
                        pSortableColumn="puntos_recoleccion.length"
                    >
                        Puntos de Recolección
                        <p-sortIcon field="puntos_recoleccion.length" />
                    </th>
                    <!--
                    <th>Capacidad Retorno</th>
                    -->

                    <th
                        style="text-align: center"
                        pSortableColumn="velocidad_maxima"
                    >
                        Velocidad Máxima <p-sortIcon field="velocidad_maxima" />
                    </th>
                    <!-- Nueva columna -->
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-recolector>
                <tr>
                    <td style="text-align: center">
                        {{ recolector.dateOnly }}
                    </td>
                    <td style="text-align: center">
                        {{ recolector.deviceId }}
                    </td>
                    <td>
                        <p-avatar
                            *ngIf="recolector.funcionario?.photo"
                            (click)="
                                onAvatarClick(
                                    $event,
                                    recolector.funcionario?.photo
                                )
                            "
                            [image]="
                                recolector.funcionario.photo &&
                                recolector.funcionario.photo.startsWith('http')
                                    ? recolector.funcionario.photo
                                    : url +
                                          'obtener_imagen/usuario/' +
                                          recolector.funcionario.photo ||
                                      'assets/icon/silueta.png'
                            "
                            styleClass="mr-2"
                            size="large"
                            shape="circle"
                        ></p-avatar>
                        <span class="ml-1 vertical-align-middle">
                            {{ recolector.fullname }}
                        </span>
                    </td>
                    <td style="text-align: center">
                        <i
                            class="pi"
                            [ngClass]="{
                                'text-green-500 pi-check-circle':
                                    !recolector.externo,
                                'text-red-500 pi-times-circle':
                                    recolector.externo
                            }"
                        ></i>
                    </td>
                    <td style="text-align: center">
                        {{ recolector.ruta.length }}
                    </td>
                    <td style="text-align: center">
                        {{ recolector.puntos_recoleccion.length }}
                    </td>
                    <!--
                     <td>{{ recolector.capacidad_retorno[0]?.value }}</td>
                    -->

                    <td style="text-align: center">
                        {{ recolector.velocidad_maxima }} km/h
                    </td>
                    <!-- Nueva columna con la velocidad máxima -->
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="5">No se encontraron fichas.</td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <p-dialog
        appendTo="body"
        [(visible)]="displayBasic"
        [modal]="true"
        [responsive]="true"
        [baseZIndex]="99999"
        [dismissableMask]="true"
        [style]="{
            'max-width': isMobil() ? '100%' : '80%',
            'max-height': isMobil() ? '80vh' : '50vh'
        }"
    >
        <ng-template pTemplate="headless">
            <p-galleria
                [value]="imagenModal"
                [(visible)]="displayBasic"
                [responsiveOptions]="responsiveOptions"
                [containerStyle]="{ 'max-width': '100%' }"
                [numVisible]="9"
                [circular]="true"
                [fullScreen]="false"
                [showItemNavigators]="true"
                baseZIndex="99999"
            >
                <ng-template pTemplate="item" let-item>
                    <img
                        [src]="item"
                        style="width: 100%; display: block; max-height: 60vh"
                    />
                </ng-template>
                <ng-template pTemplate="thumbnail" let-item>
                    <div class="grid grid-nogutter justify-content-center">
                        <img
                            [src]="item"
                            style="display: block"
                            style="width: 30%; max-height: 20vh"
                        />
                    </div>
                </ng-template>
            </p-galleria>
        </ng-template>
    </p-dialog>

    <div class="grid">
        <div class="col-12 xl:col-6">
            <div class="card">
                <label class="font-bold block mb-2">Velocidad Promedio</label>
                <p-chart type="line" [data]="dataVelocidadPromedio"></p-chart>
                <div style="display: flex; justify-content: flex-end">
                    <p-button
                        icon="pi pi-external-link"
                        label="ver"
                        (onClick)="
                            openDialog(
                                'Velocidad Promedio',
                                dataVelocidadPromedio,
                                'Fecha/Recolector',
                                'line'
                            )
                        "
                    ></p-button>
                </div>
            </div>

            <div class="card">
                <label class="font-bold block mb-2"
                    >Distribución de Velocidades</label
                >
                <p-chart
                    type="bar"
                    [data]="dataDistribucionVelocidades"
                ></p-chart>
                <div style="display: flex; justify-content: flex-end">
                    <p-button
                        icon="pi pi-external-link"
                        label="ver"
                        (onClick)="
                            openDialog(
                                'Distribución de Velocidades',
                                dataDistribucionVelocidades,
                                'Recolector',
                                'bar'
                            )
                        "
                    ></p-button>
                </div>
            </div>
        </div>
        <div class="col-12 xl:col-6">
            <div class="card">
                <label class="font-bold block mb-2"
                    >Puntos de Recolección</label
                >
                <p-chart type="line" [data]="dataPuntosRecoleccion"></p-chart>
                <div style="display: flex; justify-content: flex-end">
                    <p-button
                        icon="pi pi-external-link"
                        label="ver"
                        (onClick)="
                            openDialog(
                                'Puntos de Recolección',
                                dataPuntosRecoleccion,
                                'Recolector',
                                'line'
                            )
                        "
                    ></p-button>
                </div>
            </div>
            <div class="card">
                <label class="font-bold block mb-2"
                    >Desechos Recolectados</label
                >
                <p-chart type="line" [data]="dataCapacidadRetorno"></p-chart>
                <div style="display: flex; justify-content: space-between">
                    <p-button
                        (onClick)="op.toggle($event)"
                        icon="pi pi-info"
                        label="Info de Tonelaje"
                    />
                    <p-button
                        icon="pi pi-external-link"
                        label="ver"
                        (onClick)="
                            openDialog(
                                'Capacidad de Retorno',
                                dataCapacidadRetorno,
                                'Fecha/Recolector',
                                'line'
                            )
                        "
                    ></p-button>
                </div>
            </div>
            <p-overlayPanel #op>
                <div
                    class="flex flex-column gap-3"
                    [style]="{ 'min-width': !isMobil() ? '20rem' : '80vw' }"
                >
                    <div>
                        <span class="font-medium text-900 block mb-2"
                            >Información de tonelaje</span
                        >
                    </div>
                    <p-table
                        [value]="tabla_info"
                        [tableStyle]="{
                            'min-width': !isMobil() ? '20rem' : '80vw'
                        }"
                    >
                        <ng-template pTemplate="header">
                            <tr>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th>Placa</th>
                                <th>Capacidad (Toneladas)</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-item>
                            <tr>
                                <td>{{ item.id }}</td>
                                <td>{{ item.name }}</td>
                                <td>{{ item.plate }}</td>
                                <td>{{ item.capacidad }}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </p-overlayPanel>
        </div>

        <div class="col-12 xl:col-6">
            <div class="card">
                <label class="font-bold block mb-2"
                    >Distancia Recorrida (Km)</label
                >
                <p-chart type="line" [data]="dataDistanciaRecorrida"></p-chart>
                <div style="display: flex; justify-content: flex-end">
                    <p-button
                        icon="pi pi-external-link"
                        label="ver"
                        (onClick)="
                            openDialog(
                                'Distancia Recorrida (Km)',
                                dataDistanciaRecorrida,
                                'Fecha/Recolector',
                                'line'
                            )
                        "
                    ></p-button>
                </div>
            </div>
        </div>
    </div>

    <p-dialog
        [header]="headers_dialog"
        [(visible)]="dialogVisible"
        [modal]="true"
        [style]="{ width: '80vw' }"
        [responsive]="true"
        [draggable]="false"
    >
        <p-chart
            *ngIf="load_char_dialog"
            [data]="dialogChartData"
            [type]="tipo_chart"
        ></p-chart>
        <p-table
            *ngIf="load_char_dialog"
            [value]="dialogTableData"
            [tableStyle]="{ 'min-width': '20rem' }"
            styleClass="p-datatable-striped"
            [rows]="10"
            [rowsPerPageOptions]="[5, 10, 20]"
            [showCurrentPageReport]="true"
            [loading]="datosRecolectores.length < 0"
            sortMode="multiple"
            [paginator]="true"
            currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
        >
            <ng-template pTemplate="header">
                <tr *ngIf="dialogTableData && dialogTableData.length > 0">
                    <th
                        *ngFor="let header of tableHeaders"
                        style="text-align: center"
                    >
                        {{ header }}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-row>
                <tr>
                    <td
                        *ngFor="let header of tableHeaders"
                        style="text-align: center"
                    >
                        {{ row[header] }}
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <div
            style="display: flex; justify-content: center"
            *ngIf="dialogVisible && !load_char_dialog"
        >
            <p-progressSpinner
                *ngIf="dialogVisible && !load_char_dialog"
                styleClass="w-4rem h-4rem"
                strokeWidth="8"
                fill="var(--surface-ground)"
                animationDuration=".5s"
            />
        </div>
    </p-dialog>
</div>
