<p *ngIf="cargando">Cargando datos...</p>

<div *ngIf="!cargando">
    <div class="card">
        <h2>Estadísticas Generales</h2>

        <p-table
            #dt1
            [value]="datosRecolectores"
            dataKey="_id"
            styleClass="p-datatable-striped"
            [rows]="10"
            [rowsPerPageOptions]="[5, 10, 20]"
            [showCurrentPageReport]="true"
            [loading]="datosRecolectores.length < 0"
            sortMode="multiple"
            [paginator]="true"
            currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
            [globalFilterFields]="[
                'date',
                'deviceId',
                'ruta.length',
                'puntos_recoleccion.length',
                'velocidad_maxima'
            ]"
            onchange="onSort($event, dt1)"
            (filter)="generarEstadisticas(dt1)"
            (sort)="onSort($event, dt1)"
        >
            <ng-template pTemplate="caption">
                <div class="flex">
                    <p-button
                        label="Clear"
                        [outlined]="true"
                        icon="pi pi-filter-slash"
                        (onClick)="clear(dt1)"
                    />
                    <button
                        pButton
                        pRipple
                        icon="pi pi-search"
                        label="Generar Gráficos"
                        (click)="generarEstadisticas(dt1)"
                        class="p-input-icon-left ml-auto"
                    ></button>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="text-align: center" pSortableColumn="date">
                        <p-columnFilter
                            type="date"
                            field="date"
                            display="menu"
                        />
                        Fecha

                        <p-sortIcon field="date" />
                    </th>
                    <th style="text-align: center" pSortableColumn="deviceId">
                        Recolector <p-sortIcon field="deviceId" />
                    </th>
                    <th
                        style="text-align: center"
                        pSortableColumn="ruta.length"
                    >
                        Ruta <p-sortIcon field="ruta.length" />
                    </th>
                    <th
                        style="text-align: center"
                        pSortableColumn="puntos_recoleccion.length"
                    >
                        Puntos de Recolección
                        <p-sortIcon field="puntos_recoleccion.length" />
                    </th>
                    <!--
                    <th>Capacidad Retorno</th>
                    -->

                    <th
                        style="text-align: center"
                        pSortableColumn="velocidad_maxima"
                    >
                        Velocidad Máxima <p-sortIcon field="velocidad_maxima" />
                    </th>
                    <!-- Nueva columna -->
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-recolector>
                <tr>
                    <td style="text-align: center">
                        {{ recolector.dateOnly }}
                    </td>
                    <td style="text-align: center">
                        {{ recolector.deviceId }}
                    </td>
                    <td style="text-align: center">
                        {{ recolector.ruta.length }}
                    </td>
                    <td style="text-align: center">
                        {{ recolector.puntos_recoleccion.length }}
                    </td>
                    <!--
                     <td>{{ recolector.capacidad_retorno[0]?.value }}</td>
                    -->

                    <td style="text-align: center">
                        {{ recolector.velocidad_maxima }} km/h
                    </td>
                    <!-- Nueva columna con la velocidad máxima -->
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="5">No se encontraron fichas.</td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <div class="grid">
        <div class="col-12 xl:col-6">
            <div class="card">
                <label class="font-bold block mb-2">Velocidad Promedio</label>
                <p-chart type="line" [data]="dataVelocidadPromedio"></p-chart>
                <div style="display: flex; justify-content: flex-end">
                    <p-button
                        icon="pi pi-external-link"
                        label="ver"
                        (onClick)="
                            openDialog(
                                'Velocidad Promedio',
                                dataVelocidadPromedio,
                                'Fecha/Recolector',
                                'line'
                            )
                        "
                    ></p-button>
                </div>
            </div>

            <div class="card">
                <label class="font-bold block mb-2"
                    >Distribución de Velocidades</label
                >
                <p-chart
                    type="bar"
                    [data]="dataDistribucionVelocidades"
                ></p-chart>
                <div style="display: flex; justify-content: flex-end">
                    <p-button
                        icon="pi pi-external-link"
                        label="ver"
                        (onClick)="
                            openDialog(
                                'Distribución de Velocidades',
                                dataDistribucionVelocidades,
                                'Recolector',
                                'bar'
                            )
                        "
                    ></p-button>
                </div>
            </div>
        </div>
        <div class="col-12 xl:col-6">
            <div class="card">
                <label class="font-bold block mb-2"
                    >Puntos de Recolección</label
                >
                <p-chart type="line" [data]="dataPuntosRecoleccion"></p-chart>
                <div style="display: flex; justify-content: flex-end">
                    <p-button
                        icon="pi pi-external-link"
                        label="ver"
                        (onClick)="
                            openDialog(
                                'Puntos de Recolección',
                                dataPuntosRecoleccion,
                                'Recolector',
                                'line'
                            )
                        "
                    ></p-button>
                </div>
            </div>
            <div class="card">
                <label class="font-bold block mb-2"
                    >Desechos Recolectados</label
                >
                <p-chart type="line" [data]="dataCapacidadRetorno"></p-chart>
                <div style="display: flex; justify-content: space-between">
                    <p-button
                        (onClick)="op.toggle($event)"
                        icon="pi pi-info"
                        label="Info de Tonelaje"
                    />
                    <p-button
                        icon="pi pi-external-link"
                        label="ver"
                        (onClick)="
                            openDialog(
                                'Capacidad de Retorno',
                                dataCapacidadRetorno,
                                'Fecha/Recolector',
                                'line'
                            )
                        "
                    ></p-button>
                </div>
            </div>
            <p-overlayPanel #op>
                <div
                    class="flex flex-column gap-3"
                    [style]="{ 'min-width': !isMobil() ? '20rem' : '80vw' }"
                >
                    <div>
                        <span class="font-medium text-900 block mb-2"
                            >Información de tonelaje</span
                        >
                    </div>
                    <p-table
                        [value]="tabla_info"
                        [tableStyle]="{
                            'min-width': !isMobil() ? '20rem' : '80vw'
                        }"
                    >
                        <ng-template pTemplate="header">
                            <tr>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th>Placa</th>
                                <th>Capacidad (Toneladas)</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-item>
                            <tr>
                                <td>{{ item.id }}</td>
                                <td>{{ item.name }}</td>
                                <td>{{ item.plate }}</td>
                                <td>{{ item.capacidad }}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </p-overlayPanel>
        </div>

        <div class="col-12 xl:col-6">
            <div class="card">
                <label class="font-bold block mb-2">Distancia Recorrida</label>
                <p-chart type="line" [data]="dataDistanciaRecorrida"></p-chart>
                <div style="display: flex; justify-content: flex-end">
                    <p-button
                        icon="pi pi-external-link"
                        label="ver"
                        (onClick)="
                            openDialog(
                                'Distancia Recorrida',
                                dataDistanciaRecorrida,
                                'Fecha/Recolector',
                                'line'
                            )
                        "
                    ></p-button>
                </div>
            </div>
        </div>
    </div>

    <p-dialog
        [header]="headers_dialog"
        [(visible)]="dialogVisible"
        [modal]="true"
        [style]="{ width: '80vw' }"
        [responsive]="true"
        [draggable]="false"
    >
        <p-chart
            *ngIf="load_char_dialog"
            [data]="dialogChartData"
            [type]="tipo_chart"
        ></p-chart>
        <p-table
            *ngIf="load_char_dialog"
            [value]="dialogTableData"
            [tableStyle]="{ 'min-width': '20rem' }"
        >
            <ng-template pTemplate="header">
                <tr *ngIf="dialogTableData && dialogTableData.length > 0">
                    <th
                        *ngFor="let header of tableHeaders"
                        style="text-align: center"
                    >
                        {{ header }}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-row>
                <tr>
                    <td
                        *ngFor="let header of tableHeaders"
                        style="text-align: center"
                    >
                        {{ row[header] }}
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <div
            style="display: flex; justify-content: center"
            *ngIf="dialogVisible && !load_char_dialog"
        >
            <p-progressSpinner
                *ngIf="dialogVisible && !load_char_dialog"
                styleClass="w-4rem h-4rem"
                strokeWidth="8"
                fill="var(--surface-ground)"
                animationDuration=".5s"
            />
        </div>
    </p-dialog>
</div>
