.severity-success {
    background-color: green; /* Ajusta el color según tus necesidades */
    color: white;
}

.severity-danger {
    background-color: red; /* Ajusta el color según tus necesidades */
    color: white;
}

.severity-warning {
    background-color: orange; /* Ajusta el color según tus necesidades */
    color: white;
}

.severity-info {
    background-color: blue; /* Ajusta el color según tus necesidades */
    color: white;
}
.image-container {
    transition: background-image 1s ease-in-out;
}
