<div class="card">
    <div class="card-header">
      <h2>Listado de Roles de Usuario</h2>
      <div class="col-6">
        <p-button
            icon="pi pi-briefcase"
            label="Nuevo rol"
            (click)="newRol()"
        ></p-button>
    </div>
    </div>
    <div class="card-body">
      <p-table [value]="roles">
        <ng-template pTemplate="header">
          <tr>
            <th>Nombre</th>
            <th>Orden</th>
            <th>Permisos</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-role>
          <tr>
            <td>{{role.name}}</td>
            <td>{{role.orden}}</td>
            <td>
              <button pButton type="button" icon="pi pi-plus" (click)="mostrarSubtablaPermisos(role)">
                Ver Permisos
              </button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  

  