<!-- agregar-ubicacion-recolectores.component.html -->
<p-toast></p-toast>
<div class="map-container mb-5">
    <h2 *ngIf="asignacion && devices.length > 0">
        Asignación: {{ getDeviceGPS(asignacion.deviceId) }}
    </h2>
    <!-- Mapa de Google -->
    <div
        class="card"
        id="map2"
        style="min-height: 50vh; margin-left: -18px; margin-right: -18px"
    ></div>
    <!-- velocidad.component.html -->
    <div
        class="velocidad-container mb-5"
        *ngIf="!ruta && asignacion && isMobil()"
    >
        <p-button
            icon="pi pi-car"
            [label]="drivingMode ? 'Stop Driving Mode' : 'Start Driving Mode'"
            [style]="{ padding: '20px' }"
            [severity]="drivingMode ? 'info' : 'help'"
            (click)="toggleDrivingMode()"
        ></p-button>
    </div>

    <!-- velocidad.component.html -->
    <div class="velocidad-container" *ngIf="!ruta && asignacion">
        <p-button
            icon="pi pi-plus"
            label="Punto de Recolección"
            [style]="{ padding: '20px' }"
            (onClick)="addManualLocation(true, false)"
        ></p-button>
    </div>
    <div class="velocidad-container m-5" *ngIf="!ruta && asignacion">
        <p-button
            icon="pi pi-shop"
            label="Retorno a la Estación"
            (click)="confirmReturnToStation()"
            [disabled]="isReturnButtonDisabled"
        ></p-button>

        <!-- Muestra el temporizador si el botón está deshabilitado -->
        <div *ngIf="isReturnButtonDisabled">
            <p>
                Tiempo restante para habilitar el botón:
                {{ formatTime(returnTimeLeft) }}
            </p>
        </div>
    </div>
    <div class="velocidad-container m-5" *ngIf="!ruta && asignacion">
        <p-button
            icon="pi pi-telegram"
            label="Enviar Información"
            (click)="envioupdate()"
        ></p-button>
    </div>
    <div class="velocidad-container" *ngIf="ruta && !asignacion">
        <p-button
            icon="pi pi-plus"
            label="Actualizar Ruta"
            [style]="{ padding: '20px' }"
            (onClick)="updateRuta()"
        ></p-button>
    </div>
    <div class="velocidad-container2" *ngIf="ruta && !asignacion">
        <p-button
            (onClick)="op.toggle($event)"
            *ngIf="ruta && !asignacion"
            icon="pi pi-gauge"
            label="Control de Recorrido"
        ></p-button>
    </div>
    <div
        class="velocidad-container m-5"
        *ngIf="!asignacion && !id && !check_create"
    >
        <label> ¿Crees que ya te dieron una asignación?</label> <br />
        <p-button
            class="m-5"
            (onClick)="consultaAsig()"
            icon="pi pi-bolt"
            label="Consultar asignación"
        ></p-button>
    </div>
</div>
<ng-container *ngIf="!id">
    <!-- Sección de filtros -->
    <div
        class="grid p-fluid mb-3"
        *ngIf="check_create && arr_asignacion.length > 0"
    >
        <div class="col-12 md:col-4">
            <p-multiSelect
                [options]="fechasUnicas"
                [(ngModel)]="selectedFechas"
                defaultLabel="Filtrar por Fecha"
                optionLabel="label"
                [showToggleAll]="true"
                [filter]="true"
                (onChange)="aplicarFiltros()"
            >
            </p-multiSelect>
        </div>
        <div class="col-12 md:col-4">
            <p-multiSelect
                [options]="externosUnicos"
                [(ngModel)]="selectedExternos"
                defaultLabel="Filtrar por Externo"
                optionLabel="label"
                [showToggleAll]="true"
                [filter]="true"
                (onChange)="aplicarFiltros()"
            >
            </p-multiSelect>
        </div>
        <div class="col-12 md:col-4">
            <p-multiSelect
                [options]="devicesUnicos"
                [(ngModel)]="selectedDevices"
                defaultLabel="Filtrar por Dispositivo"
                optionLabel="label"
                [showToggleAll]="true"
                [filter]="true"
                (onChange)="aplicarFiltros()"
            >
            </p-multiSelect>
        </div>
    </div>

    <!-- Botón para limpiar filtros -->
    <div class="flex justify-content-end mb-3">
        <button
            pButton
            label="Limpiar Filtros"
            icon="pi pi-filter-slash"
            class="p-button-outlined"
            (click)="limpiarFiltros()"
        ></button>
    </div>

    <!-- Lista de asignaciones -->
    <p-table
        #dt
        [value]="asignacionesFiltradas"
        [loading]="load_list"
        responsiveLayout="scroll"
        [globalFilterFields]="[
            'deviceId',
            'externo.name',
            'externo.dni',
            'createdAt'
        ]"
        [paginator]="true"
        [rows]="10"
        [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[5, 10, 25, 50]"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
        [tableStyle]="{ 'min-width': '100%' }"
    >
        <ng-template pTemplate="caption">
            <div class="flex justify-content-between align-items-center">
                <h5 class="m-0">Lista de Asignaciones</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input
                        pInputText
                        type="text"
                        placeholder="Buscar..."
                        (input)="
                            dt.filterGlobal(
                                $any($event.target).value,
                                'contains'
                            )
                        "
                    />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">#</th>
                <th>Fecha</th>
                <th>Dispositivo</th>
                <th>Externo</th>
                <th>DNI</th>
                <th>Puntos de Recolección</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-i="rowIndex">
            <tr>
                <td>{{ i + 1 }}</td>
                <td>{{ item.createdAt | date : "dd/MM/yyyy HH:mm" }}</td>
                <td>{{ item.deviceId }}</td>
                <td>{{ item.externo?.name }}</td>
                <td>{{ item.externo?.dni }}</td>
                <td>
                    <ng-container *ngIf="item.puntos_recoleccion.length > 0">
                        {{ item.puntos_recoleccion.length }}
                    </ng-container>
                    <ng-container *ngIf="item.puntos_recoleccion.length == 0"
                        >Sin Registro</ng-container
                    >
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="6" class="text-center">
                    No se encontraron registros
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
            <button
                pButton
                type="button"
                icon="pi pi-refresh"
                class="p-button-text"
                (click)="listar_asignacion()"
            ></button>
        </ng-template>
        <ng-template pTemplate="paginatorright">
            <span class="text-muted"
                >Total: {{ asignacionesFiltradas.length }} registros</span
            >
        </ng-template>
    </p-table>
</ng-container>

<p-overlayPanel #op>
    <!-- Fila 1: Checkbox que ocupa todo el ancho -->
    <div class="p-fluid">
        <p-checkbox
            [(ngModel)]="isPlaying"
            binary="true"
            inputId="playing"
            (onChange)="toggleRoutePlayback()"
            label="Mostrar Recorrido"
        ></p-checkbox>
    </div>

    <!-- Fila 2: Slider y botones de velocidad -->
    <div class="p-grid" *ngIf="isPlaying">
        <!-- Slider -->
        <div class="p-col-12 p-md-6">
            <span class="font-bold block mb-2">Velocidad:</span>
            <p>{{ speedMultiplier }}x</p>
            <p-slider
                [(ngModel)]="speedMultiplier"
                [min]="1"
                [max]="20"
                [step]="1"
                [style]="{ width: '100%' }"
            ></p-slider>
        </div>

        <!-- Botones de velocidad rápida -->
        <div class="p-col-12 p-md-6">
            <span class="font-bold block mb-2">Velocidades rápidas:</span>
            <p-inputGroup class="w-full md:w-30rem">
                <button
                    pButton
                    label="X2"
                    class="p-button-secondary"
                    (click)="setSpeed(2)"
                ></button>
                <button
                    pButton
                    label="X5"
                    class="p-button-secondary"
                    (click)="setSpeed(5)"
                ></button>
                <button
                    pButton
                    label="X10"
                    class="p-button-secondary"
                    (click)="setSpeed(10)"
                ></button>
                <button
                    pButton
                    label="X20"
                    class="p-button-secondary"
                    (click)="setSpeed(20)"
                ></button>
            </p-inputGroup>
        </div>
    </div>

    <!-- Fila 3: Checkbox para centrar el mapa -->
    <div class="p-fluid" *ngIf="isPlaying">
        <p-checkbox
            [(ngModel)]="shouldCenter"
            binary="true"
            inputId="centerMap"
            label="Centrar mapa en el ícono del vehículo"
        ></p-checkbox>
    </div>

    <!-- Fila 4: Botón de pausa/reanudación -->
    <div class="p-fluid" *ngIf="isPlaying">
        <button
            pButton
            label="{{ isPaused ? 'Reanudar' : 'Pausar' }}"
            class="p-button-primary"
            (click)="togglePause()"
        ></button>
    </div>
</p-overlayPanel>

<p-card
    *ngIf="table.length > 0"
    header="Puntos de recolección"
    subheader="Puntos expuestos por el funcionario a cargo"
    [style]="{ width: 'auto' }"
    styleClass="p-fluid"
>
    <p-table
        [value]="table"
        [scrollable]="true"
        scrollHeight="300px"
        [tableStyle]="{ 'min-width': 'auto' }"
    >
        <ng-template pTemplate="header">
            <tr>
                <th>N°</th>
                <th>Latitud</th>
                <th>Longitud</th>
                <th>Fecha</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-location let-i="rowIndex">
            <tr
                (click)="getMarker(i)"
                [ngClass]="{ 'highlight-row': location.retorno }"
            >
                <td>{{ i + 1 }}</td>
                <td>{{ location.lat }}</td>
                <td>{{ location.lng }}</td>
                <td>{{ location.timestamp | date : "short" }}</td>
            </tr>
        </ng-template>
    </p-table>
</p-card>
<p-card
    *ngIf="ruta && ruta.ruta.length > 0"
    header="Ruta GPS"
    subheader="Ruta extraida desde UBICARSAT"
    [style]="{ width: 'auto' }"
>
    <p-table
        [value]="ruta.ruta"
        [scrollable]="true"
        scrollHeight="300px"
        [tableStyle]="{ 'min-width': 'auto' }"
    >
        <ng-template pTemplate="header">
            <tr>
                <th>N°</th>
                <th>Valida</th>
                <th>Latitud</th>
                <th>Longitud</th>
                <th>Altitud</th>
                <th>Velocidad</th>
                <th>Fecha</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-location let-i="rowIndex">
            <tr
                (click)="getMarker(i)"
                [ngClass]="{ 'highlight-row': location.retorno }"
            >
                <td>{{ i + 1 }}</td>
                <td>{{ location.valid }}</td>
                <td>{{ location.latitude }}</td>
                <td>{{ location.longitude }}</td>
                <td>{{ location.altitude }}</td>
                <td>{{ location.speed }} km/h</td>
                <td>{{ location.fixTime | date : "short" }}</td>
            </tr>
        </ng-template>
    </p-table>
</p-card>

<p-dialog
    header="Confirmación"
    [(visible)]="displayDialog"
    [modal]="true"
    [closable]="false"
    [draggable]="false"
>
    <div
        class="mb-5"
        style="
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        "
    >
        <p>¿Nesecitas retornar a estáción?</p>
        <p-tag
            icon="pi pi-info-circle"
            severity="info"
            [value]="
                'Tiempo de espera después de usar Retorno a estación: ' +
                formatTime(returnDelay)
            "
        ></p-tag>
    </div>
    <div
        style="
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        "
    >
        <p>¿Quieres decirnos como te va?</p>
        <p-dropdown
            appendTo="body"
            [options]="capacidadOpciones"
            [(ngModel)]="capcidad_retorno"
            placeholder="Selecciona capacidad"
            optionLabel="label"
            dataKey="value"
        ></p-dropdown>
    </div>

    <p-footer>
        <p-button label="Sí" (click)="addManualLocation(true, true)"></p-button>
        <p-button label="No" (click)="displayDialog = false"></p-button>
    </p-footer>
</p-dialog>
