<!-- agregar-ubicacion-recolectores.component.html -->
<p-toast></p-toast>
<div class="map-container mb-5">
    <!-- Mapa de Google -->
    <div
        class="card"
        id="map2"
        style="min-height: 50vh; margin-left: -18px; margin-right: -18px"
    ></div>
    <!-- velocidad.component.html -->
    <div class="velocidad-container">
        <p-button
            icon="pi pi-plus"
            label="Punto de Recolección"
            [style]="{ padding: '20px' }"
            (onClick)="addManualLocation(true, false)"
        ></p-button>
    </div>
    <div class="velocidad-container m-5">
        <p-button
            label="Retorno a la Estación"
            (click)="confirmReturnToStation()"
            [disabled]="isReturnButtonDisabled"
        ></p-button>

        <!-- Muestra el temporizador si el botón está deshabilitado -->
        <div *ngIf="isReturnButtonDisabled">
            <p>
                Tiempo restante para habilitar el botón:
                {{ formatTime(returnTimeLeft) }}
            </p>
        </div>
    </div>
</div>

<p-table
    [value]="table"
    [scrollable]="true"
    scrollHeight="300px"
    [tableStyle]="{ 'min-width': 'auto' }"
>
    <ng-template pTemplate="header">
        <tr>
            <th>N°</th>
            <th>Latitud</th>
            <th>Longitud</th>
            <th>Fecha</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-location let-i="rowIndex">
        <tr
            (click)="getMarker(i)"
            [ngClass]="{ 'highlight-row': location.retorno }"
        >
            <td>{{ i + 1 }}</td>
            <td>{{ location.lat }}</td>
            <td>{{ location.lng }}</td>
            <td>{{ location.timestamp | date : "short" }}</td>
        </tr>
    </ng-template>
</p-table>

<p-table
    [value]="ruta.ruta"
    [scrollable]="true"
    scrollHeight="300px"
    [tableStyle]="{ 'min-width': 'auto' }"
>
    <ng-template pTemplate="header">
        <tr>
            <th>N°</th>
            <th>Valida</th>
            <th>Latitud</th>
            <th>Longitud</th>
            <th>Altitud</th>
            <th>Velocidad</th>
            <th>Fecha</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-location let-i="rowIndex">
        <tr
            (click)="getMarker(i)"
            [ngClass]="{ 'highlight-row': location.retorno }"
        >
            <td>{{ i + 1 }}</td>
            <td>{{ location.valid }}</td>
            <td>{{ location.latitude }}</td>
            <td>{{ location.longitude }}</td>
            <td>{{ location.altitude }}</td>
            <td> {{location.speed}} km/h </td>
            <td>{{ location.fixTime | date : "short" }}</td>
        </tr>
    </ng-template>
</p-table>

<p-dialog
    header="Confirmación"
    [(visible)]="displayDialog"
    [modal]="true"
    [closable]="false"
    [draggable]="false"
>
    <p>¿Nesecitas retornar a estáción?</p>
    <p-tag
        icon="pi pi-info-circle"
        severity="info"
        [value]="
            'Tiempo de espera después de usar Retorno a estación: ' +
            formatTime(returnDelay)
        "
    ></p-tag>

    <p-footer>
        <p-button label="Sí" (click)="addManualLocation(true, true)"></p-button>
        <p-button label="No" (click)="displayDialog = false"></p-button>
    </p-footer>
</p-dialog>
