<div class="card" style="margin-top: 10px">
    <div class="card-header">
        <h2>Listado de Usuarios</h2>
    </div>
    <div class="card-body">
        <p-toast></p-toast>

        <div class="input-group mb-3">
            <p-dropdown
                [options]="opciones"
                [(ngModel)]="categoria"
                optionLabel="label"
                placeholder="Categoría"
            ></p-dropdown>
            <input
                type="text"
                class="form-control"
                aria-label="Text a filtrar"
                name="valor"
                pInputText
                [(ngModel)]="valor"
            />
            <p-button
                label="Buscar"
                icon=" pi pi-search "
                (click)="ordenaryfiltrar(categoria.value, valor, orden)"
            ></p-button>
        </div>

        <p-table
            [paginatorDropdownAppendTo]="'body'"
            #dt
            [value]="usuarios"
            *ngIf="usuarios.length > 0 && !load_lista"
            [scrollable]="true"
            [responsive]="true"
            [rows]="10"
            [showCurrentPageReport]="true"
            [rowsPerPageOptions]="[10, 25, 50]"
            currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
            [paginator]="true"
            [globalFilterFields]="['name', 'last_name', 'email', 'telf', 'dni']"
        >
            <ng-template pTemplate="caption">
                <div class="flex">
                    <p-iconField iconPosition="left" class="ml-auto">
                        <p-inputIcon>
                            <i class="pi pi-search"></i>
                        </p-inputIcon>
                        <input
                            pInputText
                            type="text"
                            (input)="
                                dt.filterGlobal(
                                    $any($event.target).value,
                                    'contains'
                                )
                            "
                            placeholder="Buscar palabra clave"
                        />
                    </p-iconField>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th colspan="2" pSortableColumn="name" style="width: 20%">
                        Nombre <p-sortIcon field="name"></p-sortIcon>
                    </th>
                    <th
                        colspan="1"
                        pSortableColumn="last_name"
                        style="width: 20%"
                    >
                        Apellidos <p-sortIcon field="last_name"></p-sortIcon>
                    </th>
                    <th pSortableColumn="role.orden" style="width: 20%">
                        Cargo <p-sortIcon field="role.ordnen"></p-sortIcon>
                    </th>
                    <th pSortableColumn="email" style="width: 20%">
                        Correo <p-sortIcon field="email"></p-sortIcon>
                    </th>
                    <th pSortableColumn="telf" style="width: 20%">
                        Teléfono <p-sortIcon field="telf"></p-sortIcon>
                    </th>
                    <th pSortableColumn="dni" style="width: 20%">
                        Cédula <p-sortIcon field="dni"></p-sortIcon>
                    </th>
                    <th pSortableColumn="createdAt" style="width: 20%">
                        Registro <p-sortIcon field="createdAt"></p-sortIcon>
                    </th>

                    <th>Opción</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-user>
                <tr>
                    <td>
                        <p-avatar
                            [image]="
                                user.photo && user.photo.startsWith('http')
                                    ? user.photo
                                    : url +
                                          'obtener_imagen/usuario/' +
                                          user.photo ||
                                      'assets/icon/silueta.png'
                            "
                            styleClass="mr-2"
                            size="xlarge"
                            shape="circle"
                        ></p-avatar>
                    </td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.last_name }}</td>
                    <td>{{ user.role.name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.telf }}</td>
                    <td>{{ user.dni }}</td>
                    <td>
                        {{
                            user.createdAt
                                | date : "yyyy-MM-dd HH:mm:ss" : "UTC-5"
                        }}
                    </td>
                    <td>
                        <p-button
                            icon="pi pi-user-edit"
                            label="Ver"
                            (click)="editrow(user._id)"
                        ></p-button>
                    </td>
                </tr>
            </ng-template>
        </p-table>

        <div
            class="alert alert-info"
            role="alert"
            *ngIf="usuarios.length == 0 && !load_lista"
        >
            No se han realizado registros de esta ubicación
        </div>
        <div class="card-body" aria-hidden="true" *ngIf="load_lista">
            <h5 class="card-title placeholder-glow">
                <span class="placeholder col-6"></span>
            </h5>
            <p class="card-text placeholder-glow">
                <span class="placeholder col-7"></span>
                <span class="placeholder col-4"></span>
                <span class="placeholder col-4"></span>
                <span class="placeholder col-6"></span>
                <span class="placeholder col-8"></span>
            </p>
        </div>
    </div>
</div>
