<p-table [value]="fichas_sectoriales_arr" [paginator]="true" [rows]="10">
    <ng-template pTemplate="header">
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Fecha del Evento</th>
            <th>Acción</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-ficha>
        <tr>
            <td>{{ ficha.direccion_geo.nombre }}</td>
            <td>{{ ficha.title_marcador }}</td>
            <td>{{ ficha.fecha_evento | date : "short" }}</td>
            <td>
                <button
                    pButton
                    type="button"
                    label="Ver"
                    icon="pi pi-eye"
                    (click)="mostrarFicha(ficha)"
                ></button>
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog *ngIf="selectedFichaId"
    appendTo="body"
    [header]="selectedFichaId.title_marcador"
    [(visible)]="displayDialog"
    [modal]="true"
    [style]="{ width: '80vw' }"
>
    <app-view-fichas-articulos *ngIf="displayDialog"
        [fichaId]="selectedFichaId._id"
    ></app-view-fichas-articulos>
</p-dialog>
