<ng-container>
    <p-toast></p-toast>

    <form
        [formGroup]="fichaSectorialForm"
        (ngSubmit)="guardarFichaSectorial()"
        class="grid p-fluid surface-card p-4"
    >
        <!-- Dirección y Actividad -->
        <div class="col-12 md:col-6">
            <div class="field">
                <label for="direccion_geo">Dirección Geográfica</label>
                <input
                    pInputText
                    id="direccion_geo"
                    type="text"
                    formControlName="direccion_geo"
                    placeholder="Ej. UNIDOS SOMOS MÁS (CODESA)"
                />
            </div>
            <div class="field">
                <label for="actividad">Actividad de Proyecto</label>
                <p-dropdown
                    id="actividad"
                    formControlName="actividad"
                    [options]="actividadesProyecto"
                    optionLabel="nombre"
                ></p-dropdown>
            </div>
        </div>

        <!-- Fecha y Estado -->
        <div class="col-12 md:col-6">
            <div class="field">
                <label for="fecha_evento">Fecha del Evento</label>
                <p-calendar
                    id="fecha_evento"
                    formControlName="fecha_evento"
                    [showTime]="true"
                    [showIcon]="true"
                    appendTo="body"
                    hourFormat="12"
                ></p-calendar>
            </div>
            <div class="field">
                <label for="estado">Estado de Actividad</label>
                <p-dropdown
                    id="estado"
                    formControlName="estado"
                    [options]="estadosActividadProyecto"
                    optionLabel="nombre"
                ></p-dropdown>
            </div>
        </div>

        <!-- Descripción -->
        <div class="col-12">
            <div class="field">
                <label for="descripcion">Descripción</label>
                <ng-container
                    *ngIf="
                        fichaSectorialForm.get('es_articulo').value;
                        else textareaMode
                    "
                >
                    <p-editor
                        formControlName="descripcion"
                        [style]="{ height: '320px', width: '100%' }"
                    ></p-editor>
                </ng-container>
                <ng-template #textareaMode>
                    <textarea
                        id="descripcion"
                        rows="5"
                        formControlName="descripcion"
                        pInputTextarea
                        placeholder="Describa brevemente la actividad..."
                    ></textarea>
                </ng-template>
            </div>
        </div>

        <!-- Opciones de configuración -->
        <div class="col-12">
            <div class="field-checkbox">
                <p-checkbox
                    formControlName="es_articulo"
                    binary="true"
                    inputId="esArticulo"
                ></p-checkbox>
                <label for="esArticulo">¿Es un artículo para publicar?</label>
            </div>
            <div class="field-checkbox">
                <p-checkbox
                    formControlName="destacado"
                    binary="true"
                    inputId="destacado"
                ></p-checkbox>
                <label for="destacado">¿Mostrar en página principal?</label>
            </div>
        </div>

        <!-- Observación -->
        <div class="col-12">
            <div class="field">
                <label for="observacion">Observación</label>
                <textarea
                    id="observacion"
                    rows="3"
                    formControlName="observacion"
                    pInputTextarea
                    placeholder="Observaciones adicionales..."
                ></textarea>
            </div>
        </div>

        <!-- Mostrar en mapa -->
        <div class="col-12">
            <div class="field-checkbox">
                <p-checkbox
                    formControlName="mostrar_en_mapa"
                    binary="true"
                    inputId="mostrarEnMapa"
                ></p-checkbox>
                <label for="mostrarEnMapa">¿Mostrar en el mapa?</label>
            </div>
        </div>

        <div
            class="col-12"
            *ngIf="fichaSectorialForm.get('mostrar_en_mapa').value"
        >
            <div class="field">
                <label for="title_marcador">Título del Marcador</label>
                <input
                    id="title_marcador"
                    type="text"
                    formControlName="title_marcador"
                    pInputText
                    placeholder="Ej. LEVANTAMIENTO DE ASENTAMIENTO"
                />
            </div>
            <div class="field">
                <label for="icono_marcador">URL del Icono del Marcador</label>
                <input
                    id="icono_marcador"
                    type="text"
                    formControlName="icono_marcador"
                    pInputText
                    placeholder="Ej. https://example.com/icon.png"
                />
            </div>
        </div>

        <!-- Botón de Guardar -->
        <div class="col-12 text-right">
            <p-button
                label="Guardar"
                icon="pi pi-save"
                type="submit"
                class="p-button-success"
            ></p-button>
        </div>
    </form>
</ng-container>
