<div class="grid min-h-screen m-0">
    <!-- Info Section -->
    <div
        class="col-12 md:col-6 bg-green-50 p-4"
        [ngStyle]="{
            'background-image': 'url(assets/layout/images/fondo.jpg)'
        }"
    >
        <div
            class="flex flex-column align-items-center justify-content-center h-full"
            style="background-color: #c1dfcd47"
        >
            <div class="max-w-30rem">
                <img
                    src="assets/icon/logo.png"
                    alt="Logo"
                    height="50"
                    class="mb-5"
                />

                <h3 class="text-2xl font-bold mb-4">
                    Bienvenido a
                    <span class="text-green-500">Esmeraldas la Bella</span>
                </h3>

                <p class="text-700 line-height-3 mb-5">
                    Su privacidad es importante para nosotros. Los datos
                    proporcionados son estrictamente confidenciales y no serán
                    compartidos con terceros.
                </p>

                <div class="flex flex-column gap-4">
                    <div class="flex align-items-start">
                        <span
                            class="flex align-items-center justify-content-center bg-green-400 border-round"
                            style="width: 3rem; height: 3rem"
                        >
                            <i class="pi pi-inbox text-xl text-white"></i>
                        </span>
                        <div class="ml-3">
                            <span class="font-medium text-900"
                                >Denuncias e Incidentes</span
                            >
                            <p class="text-700 line-height-3 mt-2">
                                Recopilamos información sobre incidentes para
                                brindar una rápida respuesta.
                            </p>
                        </div>
                    </div>

                    <div class="flex align-items-start">
                        <span
                            class="flex align-items-center justify-content-center bg-green-400 border-round"
                            style="width: 3rem; height: 3rem"
                        >
                            <i class="pi pi-shield text-xl text-white"></i>
                        </span>
                        <div class="ml-3">
                            <span class="font-medium text-900">Seguridad</span>
                            <p class="text-700 line-height-3 mt-2">
                                Nos comprometemos a proteger sus datos
                                personales.
                            </p>
                        </div>
                    </div>

                    <div class="flex align-items-start">
                        <span
                            class="flex align-items-center justify-content-center bg-green-400 border-round"
                            style="width: 3rem; height: 3rem"
                        >
                            <i class="pi pi-globe text-xl text-white"></i>
                        </span>
                        <div class="ml-3">
                            <span class="font-medium text-900"
                                >Disponibilidad garantizada</span
                            >
                            <p class="text-700 line-height-3 mt-2">
                                Disponible 24/7 para su conveniencia.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Form Section -->
    <div class="col-12 md:col-6 p-4 surface-section">
        <div
            class="flex flex-column align-items-center justify-content-center h-full"
        >
            <div
                class="surface-card p-4 shadow-2 border-round w-full max-w-30rem"
            >
                <h2 class="text-center text-2xl font-bold mb-4">
                    Registro de Usuario
                </h2>

                <form [formGroup]="formRegister" (ngSubmit)="onSubmit()">
                    <div class="flex flex-column gap-3">
                        <div class="p-float-label">
                            <p-inputGroup>
                                <p-inputGroupAddon>
                                    <i class="pi pi-id-card"></i>
                                </p-inputGroupAddon>
                                <p-floatLabel style="flex: 1 1 auto">
                                    <input
                                        pInputText
                                        id="dni"
                                        formControlName="dni"
                                        type="text"
                                    />
                                    <label for="dni">Cédula</label>
                                </p-floatLabel>
                            </p-inputGroup>
                            <small
                                class="p-error"
                                *ngIf="
                                    formRegister.get('dni')?.invalid &&
                                    formRegister.get('dni')?.touched
                                "
                            >
                                {{ getErrorMessage("dni") }}
                            </small>
                        </div>

                        <div class="p-float-label">
                            <p-inputGroup>
                                <p-inputGroupAddon>
                                    <i class="pi pi-calendar"></i>
                                </p-inputGroupAddon>
                                <p-floatLabel style="flex: 1 1 auto">
                                    <input
                                        pInputText
                                        id="date_exp"
                                        formControlName="date_exp"
                                        type="text"
                                    />
                                    <label for="date_exp"
                                        >Fecha de Expedición</label
                                    >
                                </p-floatLabel>
                            </p-inputGroup>
                            <small
                                class="p-error"
                                *ngIf="
                                    formRegister.get('date_exp')?.invalid &&
                                    formRegister.get('date_exp')?.touched
                                "
                            >
                                {{ getErrorMessage("date_exp") }}
                            </small>
                        </div>

                        <!-- Personal Information -->
                        <div class="p-float-label">
                            <p-inputGroup>
                                <p-inputGroupAddon>
                                    <i class="pi pi-user"></i>
                                </p-inputGroupAddon>
                                <p-floatLabel style="flex: 1 1 auto">
                                    <input
                                        pInputText
                                        id="name"
                                        formControlName="name"
                                        type="text"
                                    />
                                    <label for="name">Nombres</label>
                                </p-floatLabel>
                            </p-inputGroup>
                            <small
                                class="p-error"
                                *ngIf="
                                    formRegister.get('name')?.invalid &&
                                    formRegister.get('name')?.touched
                                "
                            >
                                {{ getErrorMessage("name") }}
                            </small>
                        </div>

                        <div class="p-float-label">
                            <p-inputGroup>
                                <p-inputGroupAddon>
                                    <i class="pi pi-user"></i>
                                </p-inputGroupAddon>
                                <p-floatLabel style="flex: 1 1 auto">
                                    <input
                                        pInputText
                                        id="last_name"
                                        formControlName="last_name"
                                        type="text"
                                    />
                                    <label for="last_name">Apellidos</label>
                                </p-floatLabel>
                            </p-inputGroup>
                            <small
                                class="p-error"
                                *ngIf="
                                    formRegister.get('last_name')?.invalid &&
                                    formRegister.get('last_name')?.touched
                                "
                            >
                                {{ getErrorMessage("last_name") }}
                            </small>
                        </div>

                        <div class="p-float-label">
                            <p-inputGroup>
                                <p-inputGroupAddon>
                                    <i class="pi pi-phone"></i>
                                </p-inputGroupAddon>
                                <p-floatLabel style="flex: 1 1 auto">
                                    <input
                                        pInputText
                                        id="telf"
                                        formControlName="telf"
                                        type="tel"
                                    />
                                    <label for="telf">Teléfono</label>
                                </p-floatLabel>
                            </p-inputGroup>
                            <small
                                class="p-error"
                                *ngIf="
                                    formRegister.get('telf')?.invalid &&
                                    formRegister.get('telf')?.touched
                                "
                            >
                                {{ getErrorMessage("telf") }}
                            </small>
                        </div>

                        <div class="p-float-label">
                            <p-inputGroup>
                                <p-inputGroupAddon>
                                    <i class="pi pi-envelope"></i>
                                </p-inputGroupAddon>
                                <p-floatLabel style="flex: 1 1 auto">
                                    <input
                                        pInputText
                                        id="email"
                                        formControlName="email"
                                        type="email"
                                    />
                                    <label for="email"
                                        >Correo electrónico</label
                                    >
                                </p-floatLabel>
                            </p-inputGroup>
                            <small
                                class="p-error"
                                *ngIf="
                                    formRegister.get('email')?.invalid &&
                                    formRegister.get('email')?.touched
                                "
                            >
                                {{ getErrorMessage("email") }}
                            </small>
                        </div>

                        <!-- Password Section -->
                        <div class="p-float-label">
                            <p-password
                                inputStyleClass="w-full custom-password"
                                [inputStyle]="{ height: '50px' }"
                                [style.flex]="'1 1 auto'"
                                formControlName="password"
                                [toggleMask]="true"
                                [feedback]="true"
                                styleClass="w-full"
                                [strongRegex]="
                                    '^(?=.*[A-Z])(?=.*[!@#$&*])(?=.*[0-9])(?=.*[a-z]).{8,}$'
                                "
                            ></p-password>

                            <small
                                class="p-error"
                                *ngIf="
                                    formRegister.get('password')?.invalid &&
                                    formRegister.get('password')?.touched
                                "
                            >
                                {{ getErrorMessage("password") }}
                            </small>
                        </div>

                        <div class="p-float-label">
                            <p-password
                                inputStyleClass="w-full custom-password"
                                [inputStyle]="{ height: '50px' }"
                                [style.flex]="'1 1 auto'"
                                formControlName="passwordConfirmation"
                                [toggleMask]="true"
                                styleClass="w-full"
                            ></p-password>
                            <small
                                class="p-error"
                                *ngIf="
                                    formRegister.get('passwordConfirmation')
                                        ?.invalid &&
                                    formRegister.get('passwordConfirmation')
                                        ?.touched
                                "
                            >
                                {{ getErrorMessage("passwordConfirmation") }}
                            </small>
                        </div>

                        <!-- Terms and Conditions -->
                        <div
                            class="flex align-items-center justify-content-between"
                        >
                            <div class="flex align-items-center">
                                <p-checkbox
                                    formControlName="acceptTerms"
                                    [binary]="true"
                                    inputId="acceptTerms"
                                ></p-checkbox>
                                <label for="acceptTerms" class="ml-2"
                                    >Acepto términos y condiciones</label
                                >
                            </div>
                            <p-button
                                icon="pi pi-external-link"
                                (onClick)="llamarmodal()"
                                styleClass="p-button-text p-button-sm"
                            ></p-button>
                        </div>

                        <!-- Submit Button -->
                        <p-button
                            type="submit"
                            [loading]="loading"
                            [disabled]="!formRegister.get('acceptTerms')?.value"
                            styleClass="w-full"
                            label="Registrarse"
                            icon="pi pi-check"
                        ></p-button>

                        <!-- Login Link -->
                        <div class="text-center mt-3">
                            <span class="text-600"
                                >¿Ya tienes una cuenta?
                            </span>
                            <a
                                routerLink="/auth/login"
                                class="font-medium text-blue-500 no-underline"
                                >Inicia sesión</a
                            >
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Terms Modal -->
<p-dialog
    header="Procesando datos..."
    [(visible)]="visible"
    [style]="{ width: '50vw' }"
    [modal]="true"
>
    <p class="text-700 line-height-3">Podrías esperar un momento...</p>
</p-dialog>

<p-toast></p-toast>
