<p-card header="Formulario de Búsqueda" *ngIf="uniqueValues">
    <form [formGroup]="buscarForm" (ngSubmit)="buscar()">
        <p-accordion>
            <!-- Información Registro -->
            <p-accordionTab
                header="Información Registro"
                class="mb-3"
                formGroupName="informacionRegistro"
            >
                <div class="grid grid-nogutter p-4 gap-4">
                    <!-- Rango de Fechas -->
                    <div class="col-12 sm:col-12 md:col-10 xl:col-5 p-2">
                        <label for="date">Fecha de Registro</label>
                        <div class="p-inputgroup" formGroupName="date">
                            <p-calendar
                                formControlName="start"
                                id="fechaInicio"
                                [showTime]="true"
                                dateFormat="yy-mm-dd"
                                appendTo="body"
                            ></p-calendar>
                            <p-calendar
                                formControlName="end"
                                id="fechaFin"
                                [showTime]="true"
                                dateFormat="yy-mm-dd"
                                appendTo="body"
                            ></p-calendar>
                        </div>
                    </div>

                    <div
                        class="p-field col-12 sm:col-12 md:col-10 xl:col-5 p-2"
                    >
                        <label for="encuestador">Encuestador</label>
                        <div class="p-inputgroup">
                            <p-multiSelect
                                formControlName="encuestador"
                                id="encuestador"
                                [options]="uniqueValues.encuestador"
                                optionLabel="label"
                                placeholder="Seleccione el encuestador"
                            ></p-multiSelect>
                        </div>
                    </div>
                </div>
            </p-accordionTab>
            <!-- Información Personal -->
            <p-accordionTab
                header="Información Personal"
                class="mb-3"
                formGroupName="informacionPersonal"
            >
                <div class="grid grid-nogutter p-4 gap-4">
                    <div
                        class="p-field col-12 sm:col-12 md:col-10 xl:col-5 p-2"
                    >
                        <label for="dni">Cedula</label>
                        <div class="p-inputgroup">
                            <input
                                pInputText
                                formControlName="dni"
                                id="dni"
                                placeholder="Ingrese su cédula"
                            />
                        </div>
                    </div>
                    <div
                        class="p-field col-12 sm:col-12 md:col-10 xl:col-5 p-2"
                    >
                        <label for="edad">Edad</label>
                        <div class="p-inputgroup" formGroupName="edad">
                            <p-inputNumber
                                formControlName="min"
                                id="edadMin"
                                placeholder="Edad mínima"
                                mode="decimal"
                            ></p-inputNumber>
                            <p-inputNumber
                                formControlName="max"
                                id="edadMax"
                                placeholder="Edad máxima"
                                mode="decimal"
                            ></p-inputNumber>
                        </div>
                    </div>

                    <div
                        class="p-field col-12 sm:col-12 md:col-10 xl:col-5 p-2"
                    >
                        <label for="nacionalidad">Nacionalidad</label>
                        <p-dropdown
                            formControlName="nacionalidad"
                            [options]="nacionalidades"
                            placeholder="Seleccionar"
                        ></p-dropdown>
                    </div>

                    <div
                        class="p-field col-12 sm:col-12 md:col-10 xl:col-5 p-2"
                    >
                        <label for="phone">Teléfono</label>
                        <div class="p-inputgroup">
                            <input
                                pInputText
                                formControlName="phone"
                                id="phone"
                                placeholder="Ingrese su teléfono"
                            />
                        </div>
                    </div>
                </div>
            </p-accordionTab>
            <!-- Información de Ubicación -->
            <p-accordionTab
                header="Información de Ubicación"
                class="mb-3"
                formGroupName="informacionUbicacion"
            >
                <div class="grid grid-nogutter p-4 gap-4">
                    <!-- Información Ubicación -->
                    <div
                        class="p-field col-12 sm:col-12 md:col-10 xl:col-5 p-2"
                    >
                        <label for="sector">Sector</label>
                        <p-dropdown
                            formControlName="sector"
                            [options]="sectores"
                            placeholder="Seleccionar"
                        ></p-dropdown>
                    </div>

                    <div
                        class="p-field col-12 sm:col-12 md:col-10 xl:col-5 p-2"
                    >
                        <label for="barrio">Barrio</label>
                        <input
                            pInputText
                            formControlName="barrio"
                            id="barrio"
                        />
                    </div>

                    <div
                        class="p-field col-12 sm:col-12 md:col-10 xl:col-5 p-2"
                    >
                        <label for="manzana">Manzana</label>
                        <input
                            pInputText
                            formControlName="manzana"
                            id="manzana"
                        />
                    </div>

                    <div
                        class="p-field col-12 sm:col-12 md:col-10 xl:col-5 p-2"
                    >
                        <label for="lotenumero">Número de Lote</label>
                        <input
                            pInputText
                            formControlName="lotenumero"
                            id="lotenumero"
                        />
                    </div>

                    <div
                        class="p-field col-12 sm:col-12 md:col-10 xl:col-5 p-2"
                    >
                        <label for="familyCount"
                            >¿Cuántas familias viven en el hogar?
                        </label>

                        <div class="p-inputgroup" formGroupName="familyCount">
                            <p-inputNumber
                                formControlName="min"
                                id="familyCountMin"
                                placeholder="Familias mínimas"
                                mode="decimal"
                            ></p-inputNumber>
                            <p-inputNumber
                                formControlName="max"
                                id="familyCountMax"
                                placeholder="Familias máximas"
                                mode="decimal"
                            ></p-inputNumber>
                        </div>
                    </div>
                    <!-- PeopleCount -->
                    <div
                        class="p-field col-12 sm:col-12 md:col-10 xl:col-5 p-2"
                    >
                        <label for="peopleCount"
                            >¿Cuántas personas viven en el hogar?
                        </label>
                        <div class="p-inputgroup" formGroupName="peopleCount">
                            <p-inputNumber
                                formControlName="min"
                                id="peopleCountMin"
                                placeholder="Personas mínimas"
                                mode="decimal"
                            ></p-inputNumber>
                            <p-inputNumber
                                formControlName="max"
                                id="peopleCountMax"
                                placeholder="Personas máximas"
                                mode="decimal"
                            ></p-inputNumber>
                        </div>
                    </div>
                    <!-- HouseState -->
                    <div
                        class="p-field col-12 sm:col-12 md:col-10 xl:col-5 p-2"
                    >
                        <label for="houseState">
                            ¿Cuál es el estado de la vivienda?
                        </label>
                        <p-dropdown
                            formControlName="houseState"
                            [options]="uniqueValues.estadoViviendaOptions"
                            placeholder="Seleccione el estado"
                        ></p-dropdown>
                    </div>
                </div>
            </p-accordionTab>
            <!-- Información de Salud -->
            <p-accordionTab
                header="Información de Salud"
                class="mb-3"
                formGroupName="salud"
            >
                <div class="grid grid-nogutter p-4 gap-4">
                    <!-- Información Salud -->
                    <div
                        class="p-field col-12 sm:col-12 md:col-10 xl:col-5 p-2"
                    >
                        <label for="estadoSalud"
                            >¿Cómo usted evalúa su estado de salud?
                        </label>
                        <p-dropdown
                            formControlName="estadoSalud"
                            [options]="uniqueValues.estadoSaludOptions"
                            placeholder="Seleccione el estado"
                        ></p-dropdown>
                    </div>

                    <div
                        class="p-field col-12 sm:col-12 md:col-10 xl:col-5 p-2"
                    >
                        <label for="causasSalud"
                            >En su opinión, ¿cuáles son las causas de su
                            problema de salud?
                        </label>
                        <div>
                            <p-multiSelect
                                id="causasSalud"
                                appendTo="body"
                                [filter]="false"
                                selectedItemsLabel="{0} seleccionado"
                                [maxSelectedLabels]="1"
                                [options]="uniqueValues.causasSaludOptions"
                                formControlName="causasSalud"
                                placeholder="Seleccione las causas"
                                optionLabel="label"
                            ></p-multiSelect>
                        </div>
                    </div>

                    <div
                        class="p-field col-12 sm:col-12 md:col-10 xl:col-5 p-2"
                    >
                        <label for="conexionHigienico"
                            >El servicio higiénico que tiene en su vivienda está
                            conectado a:
                        </label>
                        <p-dropdown
                            formControlName="conexionHigienico"
                            [options]="uniqueValues.conexionHigienicoOptions"
                            placeholder="Seleccione la conexión"
                        ></p-dropdown>
                    </div>
                </div>
            </p-accordionTab>
            <!-- Información de Vivienda -->
            <p-accordionTab
                header="Información de Vivienda"
                class="mb-3"
                formGroupName="vivienda"
            >
                <div class="grid grid-nogutter p-4 gap-4">
                    <!-- Información Vivienda -->
                    <div
                        class="p-field col-12 sm:col-12 md:col-10 xl:col-5 p-2"
                    >
                        <label for="estructuraVivienda"
                            >Estructura de la Vivienda</label
                        >
                        <p-dropdown
                            formControlName="estructuraVivienda"
                            [options]="uniqueValues.estructuraViviendaOptions"
                            placeholder="Seleccione la estructura"
                        ></p-dropdown>
                    </div>

                    <div
                        class="p-field col-12 sm:col-12 md:col-10 xl:col-5 p-2"
                    >
                        <label for="numPisos"
                            >¿Cuántos pisos posee la vivienda?
                        </label>
                        <input
                            pInputText
                            formControlName="numPisos"
                            placeholder="Ingrese el número de pisos"
                        />
                    </div>
                </div>
            </p-accordionTab>
            <!-- Información Medios de Vida -->
            <p-accordionTab
                header="Información Medios de Vida"
                class="mb-3"
                formGroupName="mediosDeVida"
            >
                <div class="grid grid-nogutter p-4 gap-4">
                    <!-- Información Medios de Vida -->
                    <div
                        class="p-field col-12 sm:col-12 md:col-10 xl:col-5 p-2"
                    >
                        <label for="participacionCapacitacion"
                            >Ha participado en algún tipo de capacitación</label
                        >
                        <p-dropdown
                            formControlName="participacionCapacitacion"
                            [options]="
                                uniqueValues.participacionCapacitacionOptions
                            "
                            placeholder="Seleccione una opción"
                        ></p-dropdown>
                    </div>

                    <div
                        class="p-field col-12 sm:col-12 md:col-10 xl:col-5 p-2"
                    >
                        <label for="actividadLaboral"
                            >En los últimos 12 meses, ha tenido una actividad
                            laboral:
                        </label>
                        <p-dropdown
                            formControlName="actividadLaboral"
                            [options]="uniqueValues.actividadLaboralOptions"
                            placeholder="Seleccione una opción"
                        ></p-dropdown>
                    </div>

                    <!-- Tabla de Actividades Económicas -->
                    <div
                        class="p-field col-12 sm:col-12 md:col-10 xl:col-5 p-2"
                    >
                        <label>Qué actividades económica a desempeñado?</label>
                        <p-multiSelect
                            id="actividadEconomica"
                            appendTo="body"
                            [filter]="false"
                            selectedItemsLabel="{0} seleccionado"
                            [maxSelectedLabels]="1"
                            [options]="uniqueValues.actividadEconomicaOptions"
                            formControlName="actividadEconomica"
                            placeholder="Seleccione las actividades"
                            optionLabel="label"
                        ></p-multiSelect>
                    </div>

                    <div
                        class="p-field col-12 sm:col-12 md:col-10 xl:col-5 p-2"
                    >
                        <label for="relacionDependencia"
                            >Trabaja en relación de dependencia?</label
                        >
                        <p-dropdown
                            formControlName="relacionDependencia"
                            [options]="uniqueValues.relacionDependenciaOptions"
                            placeholder="Seleccione una opción"
                        ></p-dropdown>
                    </div>

                    <div
                        class="p-field col-12 sm:col-12 md:col-10 xl:col-5 p-2"
                    >
                        <label for="cuentaPropia"
                            >Trabaja por cuenta propia?</label
                        >
                        <p-dropdown
                            formControlName="cuentaPropia"
                            [options]="uniqueValues.cuentaPropiaOptions"
                            placeholder="Seleccione una opción"
                        ></p-dropdown>
                    </div>

                    <div
                        class="p-field col-12 sm:col-12 md:col-10 xl:col-5 p-2"
                    >
                        <label for="ingresosMensuales"
                            >Ingresos mensuales promedios del hogar (sumando los
                            ingresos de todos los individuos activos)</label
                        >
                        <p-dropdown
                            formControlName="ingresosMensuales"
                            [options]="uniqueValues.ingresosMensualesOptions"
                            placeholder="Seleccione una opción"
                        ></p-dropdown>
                    </div>

                    <div
                        class="p-field col-12 sm:col-12 md:col-10 xl:col-5 p-2"
                    >
                        <label for="gastosHogar"
                            >Repartición de los gastos del hogar:
                        </label>
                        <p-multiSelect
                            id="gastosHogar"
                            appendTo="body"
                            [filter]="false"
                            selectedItemsLabel="{0} seleccionado"
                            [maxSelectedLabels]="1"
                            [options]="uniqueValues.gastosHogarOptions"
                            formControlName="gastosHogar"
                            placeholder="Seleccione los gastos"
                            optionLabel="label"
                        ></p-multiSelect>
                    </div>

                    <div
                        class="p-field col-12 sm:col-12 md:col-10 xl:col-5 p-2"
                    >
                        <label for="fuentesIngresos"
                            >Los ingresos mensuales provienen de:
                        </label>
                        <div>
                            <p-multiSelect
                                id="fuentesIngresos"
                                appendTo="body"
                                [filter]="false"
                                selectedItemsLabel="{0} seleccionado"
                                [maxSelectedLabels]="1"
                                [options]="uniqueValues.fuentesIngresosOptions"
                                formControlName="fuentesIngresos"
                                placeholder="Seleccione las fuentes de ingresos"
                                optionLabel="label"
                            ></p-multiSelect>
                        </div>
                    </div>
                </div>
            </p-accordionTab>
            <!-- Información de Redes de Apoyo -->
            <p-accordionTab
                header="Información de Redes de Apoyo"
                class="mb-3"
                formGroupName="redesDeApoyo"
            >
                <div class="grid grid-nogutter p-4 gap-4">
                    <!-- Información de Redes de Apoyo -->
                    <div
                        class="p-field col-12 sm:col-12 md:col-10 xl:col-5 p-2"
                    >
                        <label for="actividadesBarrio"
                            >Participa en actividades en el barrio</label
                        >

                        <div>
                            <p-multiSelect
                                id="actividadesBarrio"
                                appendTo="body"
                                [filter]="false"
                                selectedItemsLabel="{0} seleccionado"
                                [maxSelectedLabels]="1"
                                [options]="
                                    uniqueValues.actividadesBarrioOptions
                                "
                                formControlName="actividadesBarrio"
                                defaultLabel="Seleccione..."
                                optionLabel="label"
                            >
                            </p-multiSelect>
                        </div>
                    </div>

                    <div
                        class="p-field col-12 sm:col-12 md:col-10 xl:col-5 p-2"
                    >
                        <label for="actividadCantonDentro"
                            >En su tiempo libre, que actividades realizan
                            (dentro del cantón)</label
                        >

                        <div>
                            <p-multiSelect
                                id="actividadCantonDentro"
                                appendTo="body"
                                [filter]="false"
                                selectedItemsLabel="{0} seleccionado"
                                [maxSelectedLabels]="1"
                                [options]="
                                    uniqueValues.actividadCantonDentroOptions
                                "
                                formControlName="actividadCantonDentro"
                                defaultLabel="Seleccione..."
                                optionLabel="label"
                            >
                            </p-multiSelect>
                        </div>
                    </div>
                    <div
                        class="p-field col-12 sm:col-12 md:col-10 xl:col-5 p-2"
                    >
                        <label for="actividadCantonFuera"
                            >En su tiempo libre, que actividades realizan (fuera
                            del cantón)</label
                        >

                        <div>
                            <p-multiSelect
                                id="actividadCantonFuera"
                                appendTo="body"
                                [filter]="false"
                                selectedItemsLabel="{0} seleccionado"
                                [maxSelectedLabels]="1"
                                [options]="
                                    uniqueValues.actividadCantonFueraOptions
                                "
                                formControlName="actividadCantonFuera"
                                defaultLabel="Seleccione..."
                                optionLabel="label"
                            >
                            </p-multiSelect>
                        </div>
                    </div>

                    <div
                        class="p-field col-12 sm:col-12 md:col-10 xl:col-5 p-2"
                    >
                        <label for="mejorasBarrio"
                            >¿Qué sugiere usted para mejorar su barrio?
                            (Seleccionar 3)
                        </label>
                        <p-multiSelect
                            id="mejorasBarrio"
                            appendTo="body"
                            [filter]="false"
                            selectedItemsLabel="{0} seleccionado"
                            [maxSelectedLabels]="1"
                            selectionLimit="3"
                            [options]="uniqueValues.mejorasBarrioOptions"
                            formControlName="mejorasBarrio"
                            defaultLabel="Seleccione..."
                        >
                        </p-multiSelect>
                    </div>

                    <div
                        class="p-field col-12 sm:col-12 md:col-10 xl:col-5 p-2"
                    >
                        <label for="mejoraPlus"
                            >Propuestas adicionales para la mejora del
                            barrio</label
                        >
                        <input
                            pInputText
                            formControlName="mejoraPlus"
                            placeholder="Ingrese el número de pisos"
                        />
                    </div>
                </div>
            </p-accordionTab>
            <!-- Información de la Familia -->
            <p-accordionTab
                header="Información de la Familia"
                class="mb-3"
                formGroupName="familiaList"
            >
                <div class="grid grid-nogutter p-4 gap-4">
                    <!-- Información de la Familia -->
                    <div
                        class="p-field col-12 sm:col-12 md:col-10 xl:col-5 p-2"
                    >
                        <label for="familiaList"
                            >¿Cuántas familias viven en el hogar?
                        </label>
                        <p-multiSelect
                            id="familiaList"
                            appendTo="body"
                            [filter]="false"
                            selectedItemsLabel="{0} seleccionado"
                            [maxSelectedLabels]="1"
                            [options]="uniqueValues.familiaList"
                            formControlName="familiaList"
                            defaultLabel="Seleccione..."
                            optionLabel="label"
                        >
                        </p-multiSelect>
                    </div>
                </div>
            </p-accordionTab>
        </p-accordion>
    </form>
</p-card>
